# CLEANING

![alt text](https://miro.medium.com/max/413/0*Cir0TzUEkHMbb8QB "Cleaning data")

- Cargamos **librerías, funciones y el data set** que vamos a usar para la limpieza

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import sys
sys.path.append("src/")
from src.cleaning_functions import *

In [3]:
ds = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

- Hacemos una copia del data set "just in case"...

In [4]:
df = ds.copy()

# EXPLORACIÓN DATA SET

![alt text](https://memegenerator.net/img/instances/40379228/let-me-take-a-look-at-this.jpg "Take a look")

In [5]:
df.shape #25.723 Lineas y 24 columnas

(25723, 24)

In [6]:
df.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
9452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

df.isna().sum()

Hay muchas columnas bastante sucias donde prácticamente todo son NaN.
De hecho "Unnamed 22 y 23" solo tienen dos datos

In [7]:
df[["Unnamed: 22","Unnamed: 23"]].notna().sum()

Unnamed: 22    1
Unnamed: 23    2
dtype: int64

- Podemos ver el porcentaje de NaN por cada columna para ver su grado de suciedad/validez:

In [8]:
df.isnull().sum().apply(lambda x: x/df.shape[0]).sort_values(ascending=False)

Unnamed: 22               0.999961
Unnamed: 23               0.999922
Time                      0.885394
Species                   0.865335
Age                       0.865062
Sex                       0.776970
Activity                  0.776154
Location                  0.775998
Fatal (Y/N)               0.775959
Area                      0.772694
Name                      0.763169
Country                   0.756949
Injury                    0.756094
Investigator or Source    0.755666
Type                      0.755161
Year                      0.755083
href formula              0.755044
Date                      0.755005
pdf                       0.755005
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Case Number               0.661704
dtype: float64

In [9]:
df.loc[df['Unnamed: 22'].notna()] #stopped here, mierdato

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,...,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [10]:
df.loc[df['Unnamed: 23'].notna()] #Teramo y change filename

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

In [11]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

- Vemos que hay un par de columnsa con espacios que podemos quitar: Species y Sex

In [12]:
df.columns = df.columns.str.rstrip()

In [13]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# LIMPIEZA

![alt text](https://miro.medium.com/max/568/1*S1HH5F8PqWWcId9sb0L8og.jpeg "Dropna")

- Quitamos todas las filas y columnas que tengan todo NaN

In [14]:
df.dropna(axis = 0, how = 'all', inplace = True)
df.dropna(axis = 1, how = 'all', inplace = True)

df.drop_duplicates(inplace=True)


df.shape #hemos quitado bastantes filas, realmente columnas no hemos limpiado directamente ya que Unnamed 22 y 23 tenian 1 y 2 datos

(6311, 24)

In [15]:
df["Case Number"].sample(40)

4940      1934.06.20
1161    2009.01.27.R
1141      2009.03.27
676     2013.05.08.b
1105    2009.07.24.R
5839      1878.10.13
2470      1993.09.30
5547    1901.06.29.R
1487      2006.04.19
3947      1960.11.22
4556    1948.00.00.c
3210      1975.08.12
1436      2006.09.02
1570      2005.07.15
1964    2001.04.08.b
2843    1985.09.08.b
767     2012.07.07.c
4350      1954.01.15
6033    1849.06.08.b
380       2015.07.31
5029    1931.00.00.a
4114    1959.01.17.b
5       2018.06.03.b
5738      1887.10.18
4686    1943.00.00.d
4117      1959.01.12
5935    1865.07.14.R
3562      1966.08.14
2768      1987.09.13
2783      1987.04.15
4948      1934.02.22
1277    2008.04.08.R
2992      1982.02.13
1704    2004.01.15.R
1162    2009.01.26.R
1803      2002.12.24
4466      1950.07.21
3649      1964.12.25
2747      1988.02.15
3603    1965.11.03.b
Name: Case Number, dtype: object

In [16]:
df[["Case Number", "Date","Investigator or Source",'Case Number.1', 'Case Number.2', 'original order']].sample(30)

,Case Number,Date,Investigator or Source,Case Number.1,Case Number.2,original order
2943,1983.04.19,19-Apr-1983,"M. Vorenberg, GSAF",1983.04.19,1983.04.19,3360.0
1628,2004.10.30.x,30-Oct-2004,"New Zealand Herald, 11/24/2004/15/2004",2004.10.30.x,2004.10.30.x,4675.0
4367,1953.09.02,02-Sep-1953,"Honolulu Star Bulletin, 9/2/1953; G.H. Balazs;...",1953.09.02,1953.09.02,1936.0
3828,1962.04.05,05-Apr-1962,T. Wallett,1962.04.05,1962.04.05,2475.0
5994,1857.05.05,05-May-1857,"The Buffalo Commercial Advertiser, 5//18/1857",1857.05.05,1857.05.05,309.0
2470,1993.09.30,30-Sep-1993,"Houston Chronicle, 10/9/1993; Times of London...",1993.09.30,1993.09.30,3833.0
4409,1952.07.05,05-Jul-1952,"V.M. Coppleson (1958), p.265; J. Randall in Sh...",1952.07.05,1952.07.05,1894.0
3726,1963.11.30.b,30-Nov-1963,"C. Dudley, R.D. Weeks, GSAF; H.D. Baldridge, S...",1963.11.30.b,1963.11.30.b,2577.0
3937,1961.01.01,01-Jan-1961,V.M. Coppleson (1962) p.246,1961.01.01,1961.01.01,2366.0
4855,1937.02.11,11-Feb-1937,"Canberra Times, 2/12/1937",1937.02.11,1937.02.11,1448.0
4903,1935.07.01,01-Jul-1935,"C. Moore, GSAF",1935.07.01,1935.07.01,1400.0
5063,1929.11.21,21-Nov-1929,"New York Times, 11/28/1929",1929.11.21,1929.11.21,1240.0
4332,1954.07.28,28-Jul-1954,"New York Times, 7/29/1954; V.M. Coppleson (195...",1954.07.28,1954.07.28,1971.0
4339,1954.06.29,29-Jun-1954,"L.A. Times, 6/30/1954; H.D. Baldridge, p.257",1954.06.29,1954.06.29,1964.0
388,2015.07.22,22-Jul-2015,Zig Zag Surfing Magazine,2015.07.22,2015.07.22,5915.0
154,2017.04.17.b,17-Apr-2017,"Daytona Beach News-Journal, 4/17/2017",2017.04.17.b,2017.04.17.b,6149.0
5325,1915.03.29,29-Mar-1915,"N. Bartlett, pp.234",1915.03.29,1915.03.29,978.0
2461,1993.12.00,Dec-1993,"Allen, pp.109-110",1993.12.00,1993.12.00,3842.0
1192,2008.11.09.a,09-Nov-2008,"Reuters, 11/10/2008",2008.11.09.a,2008.11.09.a,5111.0
3748,1963.06.01.b,01-Jun-1963,A. De Maddalena,1963.06.01.b,1963.06.01.b,2555.0
6071,1839.11.17,17-Nov-1839,"H.D. Baldridge, p.146",1839.11.17,1839.11.17,232.0
800,2012.04.11,11-Apr-2012,"Adelaide Now, 4/12/2012",2012.04.11,2012.04.11,5503.0
834,2011.12.21.a,21-Dec-2011,"Port Elizabeth Herald, 12/22/2011",2011.12.21.a,2011.12.21.a,5469.0
1468,2006.06.26,26-Jun-2006,"News Press, 6/27/2006",2006.06.26,2006.06.26,4835.0
2901,1984.02.18,18-Feb-1984,"M. Levine, GSAF; Eastern Province Herald, 6/28...",1984.02.18,1984.02.18,3402.0
5477,1906.04.27.R,Reported 27-Apr-1906,"The Advertiser, 5/16/1906",1906.04.27.R,1906.04.27.R,826.0
3330,1972.06.26.b,Reported 26-Jun-1972,"Canberra Times, 6/26/1972",1972.06.26.b,1972.06.26.b,2973.0
5524,1903.01.10,10-Jan-1903,"Northern Territory Times & Gazette, 1/12/1903",1903.01.10,1903.01.10,779.0
1269,2008.04.20.b,20-Apr-2008,"S. Petersohn, GSAF",2008.04.20.b,2008.04.20.b,5034.0
2125,1999.04.22,22-Apr-1999,NaN,1999.04.22,1999.04.22,4178.0

- Echando una ojeada a estas columnas podemosdescartarlas ya que o están duplicadas o son datos que no nos van a aportar para nuestras hipótesis

In [17]:
df[["pdf", "href","href formula"]].sample(20)

,pdf,href,href formula
5124,1927.10.00-Josiah.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1434,2006.09.03.b-Darlan-dos-Santos-Luz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3220,1975.07.05-DennisThompson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3881,1961.09.06-Sailor.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1566,2005.07.22-Pearce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4158,1958.06.17-Irving.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2581,1991.09.19-Huneidi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5625,1896.00.00.b-filibuster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
41,2018.02.17-Palmer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2545,1992.07.08.b-LG.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6207,ND-0113-Vietnam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2495,1993.06.01-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3999,1960.04.12-Chandler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5642,1895.03.29.R-Pindo-Islanders.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
830,2011.12.26.R-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5911,1870.07.27-Gordon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1560,2005.08.14-foot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4898,1935.08.24-Atherfield.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4714,1942.04.05-Dorsetshire-Cornwall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6214,ND-0104-HelmetDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

- Miramos uno de los links del href para ver contenido:

In [18]:
df["href"][3513]

'http://sharkattackfile.net/spreadsheets/pdf_directory/1967.08.25-Casucci.pdf'

https://sharkattackfile.net/spreadsheets/pdf_directory/1967.08.25-Casucci.pdf

In [19]:
df["href formula"][6091]

'http://sharkattackfile.net/spreadsheets/pdf_directory/1830.04.30-Bromwick.pdf'

http://sharkattackfile.net/spreadsheets/pdf_directory/1830.04.30-Bromwick.pdf

- Algunos estaban vacíos (iamgino que habrá cambiado en algo la dirección), otros contienen pdf´s con datos del ataque reportado: imagenes, recortes de periódico, fotos de la ubicación, etc....
Pero en este caso no voy a utilizarlos.

- Ojeadas las columnas podemos hacer **drop** de las que **no considero interesantes** para el caso:

'Case Number','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23'

In [20]:
df.drop(['Case Number','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)

In [21]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species'],
      dtype='object')

### YEAR y DATE COLUMN

In [22]:
df.Year.unique() #Vamos a ver si podemos rescatar algun año a través del contenido de la columna date

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

- Vemos años un poco raros, así que paso a verlos en detalle

In [23]:
df[(df.Year == 0)]

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
6177,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN
6178,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,NaN,"FATAL, shark ""bit off all lower parts of him u...",Y,NaN,NaN
6179,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,males,M,NaN,Herodotus tells of sharks attacking men in the...,Y,NaN,NaN
6180,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,NaN,Depicts shipwrecked sailors attacked by a sha...,Y,NaN,NaN
6181,Before 1939,0.0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN

- Hay 125 lineas con el df.Year == CERO pero en df.Date si que figuran datos, a ver que podemos rescatar de ahí.

In [24]:
list(df.Date.unique())

['25-Jun-2018',
 '18-Jun-2018',
 '09-Jun-2018',
 '08-Jun-2018',
 '04-Jun-2018',
 '03-Jun-2018',
 '27-May-2018',
 '26-May-2018',
 '24-May-2018',
 '21-May-2018',
 '13-May-2018',
 'May 2018',
 '12-May-2018',
 '09-May-2018',
 'Reported 30-Apr-2018',
 '28-Apr-2018',
 '25-Apr-2018',
 '24-Apr-2018',
 '23-Apr-2018',
 '22-Apr-2018',
 '19-Apr-2018',
 '15-Apr-2018',
 '14-Apr-2018',
 'Reported 10-Apr-2018',
 '09-Apr-2018',
 '05-Apr-2018',
 '03-Apr-2018',
 '31-Mar-2018',
 '14-Mar-2018',
 '9-Mar-2018',
 '24-Feb-2018',
 '23-Feb-2018',
 '18-Feb-2018',
 '15-Feb-2018',
 '14-Feb-2018',
 '11-Feb-2018',
 '03-Feb-2018',
 '01-Feb-2018',
 '28-Jan-2018',
 '21-Jan-2018',
 '14-Jan-2018',
 '13-Jan-2018',
 '12-Jan-2018',
 '05-Jan-2018',
 '31-Dec-2017',
 '30-Dec-2017',
 '21-Dec-2017',
 '09-Dec-2017',
 '30-Nov-2017',
 'Reported 25-Nov-2017',
 '24-Nov-2017',
 '18-Nov-2017',
 'Reported 13-Nov-2017',
 '13-Nov-2017',
 '04-Nov-2017',
 'Reported 31-Oct-2017',
 '28-Oct-2017',
 '26-Oct-2017',
 '23-Oct-2017',
 '22-Oct-2017',
 '21-Oct-2017',
 '18-Oct-2017',
 '09-Oct-2017',
 '05-Oct-2017',
 '01-Oct-2017',
 '25-Sep-2017',
 '24-Sep-2017',
 '20-Sep-2017',
 '16-Sep-2017',
 '15-Sep-2017',
 'Sep-2017',
 '13-Sep-2017',
 '10-Sep-2017',
 'Reported 06-Sep-2017',
 '03-Sep-2017',
 '02-Sep-2017',
 '29-Aug-2017',
 '27-Aug-2017',
 '26-Aug-2017',
 '23-Aug-2017',
 '18-Aug-2017',
 '10-Aug-2017',
 '05-Aug-2017',
 '03-Aug-2017',
 '01-Aug-2017',
 '31-Jul-2017',
 '29-Jul-2017',
 '27-Jul-2017',
 'Reported 26-Jul-2017',
 '24-Jul-2017',
 '23-Jul-2017',
 '22-Jul-2017',
 '20-Jul-2017',
 '14-Jul-2017',
 '11-Jul-2017',
 '09-Jul-2017',
 'Reported 07-Jul-2017',
 '07-Jul-2017',
 '02-Jul-2017',
 '29-Jun-2017',
 '21-Jun-2017',
 '19-Jun-2017',
 '18-Jun-2017',
 '17-Jun-2017',
 '2017.06.05',
 'Reported 14-Jun-2017',
 '11-Jun-2017',
 '10-Jun-2017',
 'Reported 07-Jun-2017',
 '04-Jun-2017',
 '02-Jun-2017',
 '30-May-2017',
 '28-May-2017',
 '27-May-2017',
 '12-May-2017',
 'Reported 06-May-2017',
 '05-May-2017',
 '03-May-2017',
 '29-Apr-2017',
 '27-Apr-2017',
 '26-Apr-2017',
 '22-Apr-2017',
 '20-Apr-2017',
 '17-Apr-2017',
 '14-Apr-2017',
 '13-Apr-2017',
 '12-Apr-2017',
 '11-Apr-2017',
 '10-Apr-2017',
 '06-Apr-2017',
 '05-Apr-2017',
 '02-Apr-2017',
 '27-Mar-2017',
 '19-Mar-2017',
 '18-Mar-2017',
 '11-Mar-2017',
 'Reported 09-Mar-2017',
 '25-Feb-2017',
 '24-Feb-2017',
 '21-Feb-2017',
 '17-Feb-2017',
 '11-Feb-2017',
 '06-Feb-2017',
 '01-Feb-2017',
 '24-Jan-2017',
 '22-Jan-2017',
 '21-Jan-2017',
 '13-Jan-2017',
 '09-Jan-2017',
 'Reported 08-Jan-2017',
 '05-Jan-2017',
 '03-Jan-2017',
 '27-Dec-2016',
 '24-Dec-2016',
 '19-Dec-2016',
 '14-Dec-2016',
 '11-Dec-2016',
 '06-Dec-2016',
 '01-Dec-2016',
 '28-Nov-2016',
 '14-Nov-2016',
 '30-Oct-2016',
 '29-Oct-2016',
 '24-Oct-2016',
 '21-Oct-2016',
 '15-Oct-2016',
 '14-Oct-2016',
 '13-Oct-2016',
 '12-Oct-2016',
 '10-Oct-2016',
 '02-Oct-2016',
 '01-Oct-2016',
 '26-Sep-2016',
 '18-Sep-2016',
 '17-Sep-2016',
 '16-Sep-2016',
 '15-Sep-2016',
 '11-Sep-2016',
 '07-Sep-2016',
 '06-Sep-2016',
 '05-Sep-2016',
 '04-Sep-2016',
 '01-Sep-2016',
 'Sep-2016',
 '29-Aug-2016',
 '27-Aug-2016',
 '25-Aug-2016',
 '07-Aug-2016',
 '06-Aug-2016',
 '04-Aug-2016',
 '29-Jul-2016',
 '28-Jul-2016',
 '27-Jul-2016',
 '26-Jul-2016',
 '24-Jul-2016',
 '23-Jul-2016',
 '20-Jul-2016',
 '17-Jul-2016',
 '16-Jul-2016',
 '15-Jul-2016',
 'Reported  14-Jul-2016',
 'Reported 08-Jul-2016',
 '08-Jul-2016',
 '07-Jul-2016',
 '06-Jul-2016',
 '04-Jul-2016',
 '27-Jun-2016',
 '25-Jun-2016',
 '24-Jun-2016',
 '23-Jun-2016',
 '21-Jun-2016',
 '15-Jun-2016',
 '14-Jun-2016',
 '11-Jun-2016',
 '07-Jun-2016',
 '05-Jun-2016',
 '04-Jun-2016',
 '02-Jun-2016',
 '31-May-2016',
 '29-May-2016',
 '22-May-2016',
 '21-May-2016',
 '18-May-2016',
 '15-May-2016',
 '03-May-2016',
 '02-May-2016',
 '25-Apr-2016',
 '23-Apr-2016',
 '22-Apr-2016',
 '19-Apr-2016',
 '18-Apr-2016',
 '13-Apr-2016',
 '09-Apr-2016',
 '08-Apr-2016',
 '07-Apr-2016',
 '31-Mar-2016',
 '30-Mar-2016',
 '28-Mar-2016',
 '26-Mar-2016',
 '13-Mar-2016',
 '11-Mar-2016',
 '10-Mar-2016',
 '04-Mar-2016',
 'Reported 03-Mar-2016',
 '02-Mar-2016',
 '22-Feb-2016',
 ' 19-Feb-2016',
 '12-Feb-2016',
 'Reported 10-Feb-2016',
 '10-Feb-2016',
 '05-Feb-2016',
 '04-Feb-2016',
 '02-Feb-2016',
 '29-Jan-2016',
 '28-Jan-2016',
 '25-Jan-2016',
 '24-Jan-2016',
 '23-Jan-2016',
 'Reported 11-Jan-2016',
 '05-Jan-2016',
 '02-Jan-2016',
 '26-Dec-2015',
 '25-Dec-2015',
 '22-Dec-2015',
 '21-Dec-2015',
 '19-Dec-2015',
 '13-Dec-2015',
 '11-Dec-2015',
 '08-Dec-2015',
 '20-Nov-2015',
 '16-Nov-2015',
 '15-Nov-2015',
 '10-Nov-2015',
 '07-Nov-2015',
 '03-Nov-2015',
 '01-Nov-2015',
 '30-Oct-2015',
 '28-Oct-2015',
 '25-Oct-2015',
 '21-Oct-2015',
 '19-Oct-2015',
 '17-Oct-2015',
 '13-Oct-2015',
 '09-Oct-2015',
 '08-Oct-2015',
 '07-Oct-2015',
 '05-Oct-2015',
 '04-Oct-2015',
 '29-Sep-2015',
 '26-Sep-2015',
 '24-Sep-2015',
 '20-Sep-2015',
 '19-Sep-2015',
 '18-Sep-2015',
 '17-Sep-2015',
 '08-Sep-2015',
 '06-Sep-2015',
 '05-Sep-2015',
 '04-Sep-2015',
 '03-Sep-2015',
 '01-Sep-2015',
 'Sep-2015',
 '29-Aug-2015',
 '22-Aug-2015',
 '20-Aug-2015',
 '19-Aug-2015',
 '18-Aug-2015',
 '10-Aug-2015',
 '31-Jul-2015',
 '28-Jul-2015',
 '27-Jul-2015',
 '26-Jul-2015',
 '25-Jul-2015',
 '23-Jul-2015',
 '22-Jul-2015',
 '19-Jul-2015',
 '10-Jul-2015',
 '08-Jul-2015',
 '06-Jul-2015',
 '04-Jul-2015',
 '03-Jul-2015',
 '02-Jul-2015',
 '01-Jul-2015',
 '30-Jun-2015',
 '27-Jun-2015',
 '26-Jun-2015',
 'Reported 25-Jun-2015',
 '25-Jun-2015',
 '24-Jun-2015',
 '23-Jun-2015',
 '19-Jun-2015',
 '17-Jun-2015',
 '14-Jun-2015',
 '13-Jun-2015',
 '11-Jun-2015',
 '07-Jun-2015',
 '05-Jun-2015',
 '01-Jun-2015',
 '29-May-2015',
 '25-May-2015',
 '24-May-2015',
 '20-May2015',
 '15-May-2015',
 '09-May-2015',
 '07-May-2015',
 '03-May-2015',
 '02-May-2015',
 '29-Apr-2015',
 '26-Apr-2015',
 '25-Apr-2015',
 '13-Apr-2015',
 '12-Apr-2015',
 '11-Apr-2015',
 '03-Apr-2015',
 '29-Mar-2015',
 '31-Mar-2015',
 '26-Mar-2015',
 '21-Mar-2015',
 '18-Mar-2015',
 '16-Mar-2015',
 '11-Mar-2015',
 '10-Mar-2015',
 '07-Mar-2015',
 '15-Feb-2015',
 '14-Feb-2015',
 '09-Feb-2015',
 '08-Feb-2015',
 '05-Feb-2015',
 '30-Jan-2015',
 '27-Jan-2015',
 '24-Jan-2015',
 '23-Jan-2015',
 '19-Jan-2015',
 '17-Jan-2015',
 '16-Jan-2015',
 '08-Jan-2015',
 '06-Jan-2015',
 '03-Jan-2015',
 '01-Jan-2015',
 '29-Dec-2014',
 '28-Dec-2014',
 'Reported 23-Dec-2014',
 '15-Dec-2014',
 'Reported 03-Dec-2014',
 '29-Nov-2014',
 '20-Nov-2014',
 '19-Nov-2014',
 'Reported 17-Nov-2014',
 '16-Nov-2014',
 '13-Nov-2014',
 '10-Nov-2014',
 '08-Nov-2014',
 '31-Oct-2014',
 '29-Oct-2014',
 '22-Oct-2014',
 '20-Oct-2014',
 '19-Oct-2014',
 '18-Oct-2014',
 '17-Oct-2014',
 '14-Oct-2014',
 '12-Oct-2014',
 '11-Oct-2014',
 '05-Oct-2014',
 '07-Oct-2014',
 '03-Oct-2014',
 '02-Oct-2014',
 '21-Sep-2014',
 'Reported 12-Sep-2014',
 '13-Sep-2014',
 '09-Sep-2014',
 '06-Sep-2014',
 '03-Sep-2014',
 '02-Sep-2014',
 'Sep-2014',
 '31-Aug-2014',
 '29-Aug-2014',
 '28-Aug-2014',
 '27-Aug-2014',
 'Reported 25-Aug-2014',
 '24-Aug-2014',
 '16-Aug-2014',
 '12-Aug-2014',
 '10-Aug-2014',
 '09-Aug-2014',
 '08-Aug-2014',
 '06-Aug-2014',
 '05-Aug-2014',
 '02-Aug-2014',
 '01-Aug-2014',
 'Aug-2014',
 '27-Jul-2014',
 '22-Jul-2014',
 '21-Jul-2014',
 '20-Jul-2014',
 '16-Jul-2014',
 '14-Jul-2014',
 '13-Jul-2014',
 '12-Jul-2014',
 '9-Jul-2014',
 '5-Jul-2014',
 '3-Jul-2014',
 'Reported 27-Jun-2014',
 '25-Jun-2014',
 '18-Jun-2014',
 'Reported 17-Jun-2014',
 '09-Jun-2014',
 '08-Jun-2014',
 '07-Jun-2014',
 '01-Jun-2014',
 '24-May-2014',
 '23-May-2014',
 '22-May-2014',
 '15-May-2014',
 '14-May-2014',
 '13-May2014',
 '11-May-2014',
 'Reported 10-May-2014',
 '06-May-2014',
 '04-May-2014',
 '01-May-2014',
 '24-Apr-2014',
 '22-Apr-2014',
 '15-Apr-2014',
 'Reported 12-Apr-2014',
 '12-Apr-2014',
 '04-Apr-2014',
 '03-Apr-2014',
 '29-Mar-2014',
 '22-Mar-2014',
 '21-Mar-2014',
 '18-Mar-2014',
 '12-Mar-2014',
 '13-Mar-2014',
 '02-Mar-2014',
 '20-Feb-2014',
 'Reported 17-Feb-2014',
 '08-Feb-2014',
 '07-Feb-2014',
 '26-Jan-2014',
 '25-Jan-2014',
 '04-Jan-2014',
 '2014',
 '25-Dec-2013',
 '16-Dec-2013',
 '13-Dec-2013',
 '11-Dec-2013',
 '10-Dec-2013',
 '05-Dec-2013',
 '02-Dec-2013',
 '30-Nov-2013',
 '29-Nov2013',
 '23-Nov-2013',
 '22-Nov-2013',
 '12-Nov-2013',
 '10-Nov-2013',
 '07-Nov-2013',
 '31-Oct-2013',
 '28-Oct-2013',
 '26-Oct-2013',
 '24-Oct-2013',
 '23-Oct-2013',
 '20-Oct-2013',
 '19-Oct-2013',
 '11-Oct-2013',
 '08-Oct-2013',
 '06-Oct-2013',
 '10-Oct-2013',
 '29-Sep-2013',
 ' 25-Sep-2013',
 ' 21-Sep-2013',
 ' 14-Sep-2013',
 ' 12-Sep-2013',
 '08-Sep-2013',
 ' 07-Sep-2013',
 ' 02-Sep-2013',
 ' 01-Sep-2013',
 '31-Aug-2013',
 '29-Aug-2013',
 '26-Aug-2013',
 ' 25-Aug-2013',
 ' 18-Aug-2013',
 '17-Aug-2013',
 ' 14-Aug-2013',
 ' 13-Aug-2013',
 '11-Aug-2013',
 'Reported 08-Aug-2013',
 ' 05-Aug-2013',
 '  31-Jul-2013',
 '  30-Jul-2013',
 '28-Jul-2013',
 '  29-Jul-2013',
 '    22-Jul-2013',
 '19-Jul-2013',
 'Reported 17-Jul-2013',
 '15-Jul-2013',
 '14-Jul-2013',
 '11-Jul-2013',
 '07-Jul-2013',
 '02-Jul-2013',
 '30-Jun-2013',
 '27-Jun-2013',
 '25-Jun-2013',
 '18-Jun-2013',
 '17-Jun-2013',
 '16-Jun-2013',
 '15-Jun-2013',
 'Reported 14-Jun-2013',
 '06-Jun-2013',
 '27-May-2013',
 '23-May-2013',
 '08-May-2013',
 '04-May-2013',
 '28-Apr-2013',
 '24-Apr-2013',
 '21-Apr-2013',
 '17-Apr-2013',
 '14-Apr-2013',
 '13-Apr-2013',
 '10-Apr-2013',
 '04-Apr-2013',
 'Reported 02-Apr-2013',
 '02-Apr-2013',
 '31-Mar-2013',
 '29-Mar-2013',
 'Reported 21-Mar-2013',
 '21-Mar-2013',
 '16-Mar-2013',
 '12-Mar-2013',
 '10-Mar-2013',
 '03-Mar-2013',
 '27-Feb-2013',
 '21-Feb-2013',
 '10-Feb-2013',
 '09-Feb-2013',
 '01-Feb-2013',
 '26-Jan-2013',
 '25-Jan-2013',
 'Reported 21-Jan-2013',
 '16-Jan-2013',
 '13-Jan-2013',
 '05-Jan-2013',
 '31-Dec-2012',
 '30-Dec-2012',
 '28-Dec-2012',
 '25-Dec-2012',
 '19-Dec-2012',
 '05-Dec-2012',
 '02-Dec-2012',
 'December 2012',
 '30-Nov-2012',
 '27-Nov-2012',
 '22-Nov-2012',
 '19-Nov-2012',
 '04-Nov-2012',
 '30-Oct-2012',
 '27-Oct-2012',
 '23-Oct-2012',
 '19-Oct-2012',
 '18-Oct-2012',
 '16-Oct-2012',
 'Reported 11-Oct-2012',
 '10-Oct-2012',
 '02-Oct-2012',
 '25-Sep-2012',
 '24-Sep-2012',
 '16-Sep-2012',
 '10-Sep-2012',
 '09-Sep-2012',
 '08-Sep-2012',
 '06-Sep-2012',
 '04-Sep-2012',
 '02-Sep-2012',
 '31-Aug-2012',
 '28-Aug-2012',
 '26-Aug-2012',
 '15-Aug-2012',
 '11-Aug-2012',
 '08-Aug-2012',
 '06-Aug-2012',
 '04-Aug-2012',
 '31-Jul-2012',
 '30-Jul-2012',
 '24-Jul-2012',
 '23-Jul-2012',
 '21-Jul-2012',
 '19-Jul-2012',
 '14-Jul-2012',
 '08-Jul-2012',
 '07-July-2012',
 '07-Jul-2012',
 '06-Jul-2012',
 'Reported 28-Jun-2012',
 '26-Jun-2012',
 '22-Jun-2012',
 '20-Jun-2012',
 '19-Jun-2012',
 '18-Jun-2012',
 '15-Jun-2012',
 '14-Jun-2012',
 '12-Jun-2012',
 '10-Jun-2012',
 '03-Jun-2012',
 '02-Jun-2012',
 '31-May-2012',
 '29-May-2012',
 '23-May-2012',
 '20-May-2012',
 '16-May-2012',
 '12-May-2012',
 '09-May-2012',
 '06-May-2012',
 '19-Apr-2012',
 '11-Apr-2012',
 '03-Apr-2012',
 'Apr-2013',
 '31-Mar-2012',
 '24-Mar-2012',
 '22-Mar-2012',
 '20-Mar-2012',
 '15-Mar-2012',
 '14-Mar-2012',
 '06-Mar-2012',
 '05-Mar-2012',
 '04-Mar-2012',
 '03-Mar-2012',
 '01-Mar-2012',
 '26-Feb-2012',
 '25-Feb-2012',
 '20-Feb-2012',
 '06-Feb-2012',
 '27-Jan-2012',
 '19-Jan-2012',
 'Reported 22-Jan-2012',
 '18-Jan-2012',
 '15-Jan-2012',
 '13-Jan-2012',
 '03-Jan-2012',
 '02-Jan-2012',
 '31-Dec-2011',
 'Reported 26-Dec-2011',
 '25-Dec-2011',
 '23-Dec-2011',
 '21-Dec-2011',
 '11-Dec-2011',
 '07-Dec-2011',
 '06-Dec-2011',
 '05-Dec-2011',
 '02-Dec-2011',
 '29-Nov-2011',
 '28-Nov-2011',
 '22-Nov-2011',
 'Reported 20-Nov-2011',
 '12-Nov-2011',
 '11-Nov-2011',
 '  29-Oct-2011',
 'Reported 28-Oct-2011',
 '22-Oct-2011',
 '20-Oct-2011',
 '19-Oct-2011',
 '11-Oct-2011',
 '10-Oct-2011',
 '09-Oct-2011',
 '05-Oct-2011',
 '02-Oct-2011',
 '01-Oct-2011',
 '30-Sep-2011',
 '28-Sep-2011',
 '24-Sep-2011',
 '20-Sep-2011',
 '19-Sep-2011',
 '17-Sep-2011',
 '16-Sep-2011',
 '11-Sep-2011',
 '04-Sep-2011',
 '02-Sep-2011',
 '31-Aug-2011',
 '28-Aug-2011',
 '26-Aug-2011',
 '24-Aug-2011 ',
 '23-Aug-2011',
 '18-Aug-2011',
 '17-Aug-2011',
 '16-Aug-2011',
 '16-Aug--2011',
 '15-Aug-2011',
 '11-Aug--2011',
 '01-Aug-2011',
 '31-Jul-2011',
 '30-Jul-2011',
 '25-Jul-2011',
 '22-Jul-2011',
 '19-Jul-2011',
 '15-Jul-2011',
 '13-Jul-2011',
 '07-Jul-2011',
 '06-Jul-2011',
 '05-Jul-2011',
 '30-Jun-2011',
 '29-Jun-2011',
 '28-Jun-2011',
 '26-Jun-2008',
 '24-Jun-2011',
 '21-Jun-2011',
 '19-Jun-2011',
 '15-Jun-2011',
 'Reported 14-Jun-2011',
 '12-Jun-2011',
 'Reported 06-Jun-2011',
 '06-Jun-2011',
 '01-Jun-2011',
 '30-May-2011',
 '29-May-2011',
 '25-May-2011',
 '22-May-2011',
 '21-May-2011',
 '13-May-2011',
 '10-May-2011',
 'Reported 07-May-2011',
 '04-May-2011',
 '26-Apr-2011',
 '23-Apr-2011',
 '22-Apr-2011',
 '16-Apr-2011',
 '13-Apr-2011',
 '08-Apr-2011',
 'Reported 29-Mar-2011',
 '24-Mar-2011',
 '23-Mar-2011',
 '21-Mar-2011',
 '16-Mar-2011',
 'Reported 10-Mar-2010',
 '10-Mar-2011',
 'Reported 28-Feb-2011',
 '23-Feb-2011',
 '18-Feb-2011',
 '17-Feb-2011',
 '13-Feb-2011',
 '12-Feb-2011',
 'Reported 04-Feb-2011',
 '02-Feb-2011',
 '31-Jan-2011',
 '28-Jan-2011',
 '26-Jan-2011',
 '20-Jan-2011',
 '15-Jan-2011',
 'Reported 12-Jan 2011',
 '03-Jan-2011',
 '26-Dec-2010',
 '17-Dec-2010',
 '11-Dec-2010',
 '05-Dec-2010',
 'Reported 03-Dec-2010',
 '01-Dec-2010',
 '30-Nov-2010',
 'Reported 27-Nov-2010',
 '27-Nov-2010',
 '19-Nov-2010',
 '15-Nov-2010',
 '14-Nov-2010',
 'Reported 12-Nov-2010',
 '30-Oct-2010',
 'Reported 28-Oct-2010',
 '28-Oct-2010',
 '25-Oct-2010',
 '23-Oct-2010',
 '22-Oct-2010',
 '20-Oct-2010',
 '09-Oct-2010',
 '02-Oct-2010',
 '01-Oct-2010',
 '27-Sep-2010',
 '24-Sep-2010',
 '21-Sep-2010',
 ' 13-Sep-2010',
 '07-Sep-2010',
 'Reported 06-Sep-2010',
 ' 04-Sep-2010',
 '03-Sep-2010',
 '02-Sep-2010',
 '29-Aug-2010',
 '18-Aug-2010',
 '17-Aug-2010',
 '14-Aug-2010',
 '10-Aug-2010',
 '08-Aug-2010',
 '07-Aug-2010',
 '05-Aug-2010',
 '02-Aug-2010',
 '25-Jul-2010',
 '23-Jul-2010',
 '19-Jul-2010',
 '17-Jul-2010',
 '16-Jul-2010',
 '11-Jul-2010',
 '04-Jul-2010',
 '03-Jul-2010',
 '02-Jul-2010',
 '27-Jun-2010',
 '25-Jun-2010',
 '15-Jun-2010',
 '10-Jun-2010',
 '06-Jun-2010',
 'Jun-2010',
 '30-May-2010',
 '18-May-2010',
 '03-May-2010',
 '01-May-2010',
 '28-Apr-2010',
 '19-Apr-2010',
 '13-Apr-2010',
 '04-Apr-2010',
 ' 27-Mar-2010',
 '190Feb-2010',
 '16-Feb-2010',
 '15-Feb-2010',
 '13-Feb-2010',
 '11-Feb-2010',
 'Reported 06-Feb-2010',
 '06-Feb-2010',
 '04-Feb-2010',
 '03-Feb-2010',
 '01-Feb-2010',
 '31-Jan-2010',
 '27-Jan-2010',
 '22-Jan-2010',
 '12-Jan-2010',
 '09-Jan-2010',
 '06-Jan-2010',
 '05-Jan-2010',
 '29-Dec-2009',
 '26-Dec-2009',
 '22-Dec-2009',
 '20-Dec-2009',
 '18-Dec-2009',
 '16-Dec-2009',
 '13-Dec-2009',
 '12-Dec-2009',
 '05-Dec-2009',
 '25-Nov-2009',
 '24-Nov-2009',
 '16-Nov-2009',
 '13-Nov-2009',
 '11-Nov-2009',
 '08-Nov-2009',
 '05-Nov-2009',
 '30-Oct-2009',
 'Reported 29-Oct-2009',
 '28-Oct-2009',
 '24-Oct-2009',
 '19-Oct-2009',
 '18-Oct-2009',
 '17-Oct-2009',
 'Reported 14-Oct-2009',
 '09-Oct-2009',
 '02-Oct-2009',
 '26-Sep-2009',
 '18-Sep-2009',
 '15-Sep-2009',
 '13-Sep-2009',
 '12-Sep-2009',
 '07-Sep-2009',
 '02-Sep-2009',
 '01-Sep-2009',
 '30-Aug-2009',
 '29-Aug-2009',
 '25-Aug-2009',
 '11-Aug-2009',
 '10-Aug-2009',
 '06-Aug-2009',
 '01-Aug-2009',
 '31-July-2009',
 '30-Jul-2009',
 '29-Jul-2009',
 'Reported 24-Jul-2009',
 '24-Jul-2009',
 '22-Jul-2009',
 '18-Jul-2009',
 '11-Jul-2009',
 '07-Jul-2009',
 '05-Jul-2009',
 '04-Jul-2009',
 '27-Jun-2009',
 '21-Jun-2009',
 '16-Jun-2009',
 'Reported 14-Jun-2009',
 '02-Jun-2009',
 '01-Jun-2009',
 '31-May-2009',
 '25-May-2009',
 '17-May-2009',
 '16-May-2009',
 '12-May-2009',
 '06-Mar-2009',
 '28-Apr-2009',
 'Reported 25-Apr-2009',
 '21-Apr-2009',
 '20-Apr-2009',
 '19-Apr-2009',
 '17-Apr-2009',
 '11-Apr-2009',
 '12-Apr-2009',
 '06-Apr-2009',
 '03-Apr-2009',
 '27-Mar-2009',
 '21-Mar-2009',
 '20-Mar-2009',
 '19-Mar-2009',
 '18-Mar-2009',
 'Reported 17-Mar-2009',
 '17-Mar-2009',
 'Reported 16-Mar-2009',
 '02-Mar-2009',
 '01-Mar-2009',
 '22-Feb-2009',
 '18-Feb-2009',
 '12-Feb-2009',
 '11-Feb-2009',
 '08-Feb-2009',
 '07-Feb-2009',
 'Reported 27-Jan-2009',
 'Reported 26-Jan-2009',
 '25-Jan-2009',
 '24-Jan-2009',
 '23-Jan-2009',
 '18-Jan-2009',
 '16-Jan-2009',
 'Reported 13-Jan-2009',
 '12-Jan-2009',
 '11-Jan-2009',
 '    10-Jan-2009',
 '10-Jan-2009',
 '06-Jan-2009',
 'Jan-2009',
 '30-Dec-2008',
 '27-Dec-2008',
 '20-Dec-2008',
 '14-Dec-2008',
 '10-Dec-2008',
 '06-Dec-2006',
 'Dec-2008',
 '28-Nov-2008',
 '25-Nov-2008',
 '24-Nov-2008',
 '09-Nov-2008',
 '06-Nov-2008',
 '22-Oct-2008',
 '21-Oct-2008',
 '12-Oct-2008',
 '11-Oct-2008',
 '08-Oct-2008',
 '06-Oct-2008',
 '28-Sep-2008',
 '15-Sep-2008',
 '14-Sep-2008',
 '09-Sep-2008',
 '08-Sep-2008',
 '07-Sep-2008',
 '06-Sep-2008',
 '01-Sep-2008',
 'Sep-2008',
 ...]

- Mucho reported y mucho espacio en blanco:

In [25]:
df.Date = df.Date.replace(regex=r'(?i)Reported\s{1,9}',value='')
list(df.Date.unique())

['25-Jun-2018',
 '18-Jun-2018',
 '09-Jun-2018',
 '08-Jun-2018',
 '04-Jun-2018',
 '03-Jun-2018',
 '27-May-2018',
 '26-May-2018',
 '24-May-2018',
 '21-May-2018',
 '13-May-2018',
 'May 2018',
 '12-May-2018',
 '09-May-2018',
 '30-Apr-2018',
 '28-Apr-2018',
 '25-Apr-2018',
 '24-Apr-2018',
 '23-Apr-2018',
 '22-Apr-2018',
 '19-Apr-2018',
 '15-Apr-2018',
 '14-Apr-2018',
 '10-Apr-2018',
 '09-Apr-2018',
 '05-Apr-2018',
 '03-Apr-2018',
 '31-Mar-2018',
 '14-Mar-2018',
 '9-Mar-2018',
 '24-Feb-2018',
 '23-Feb-2018',
 '18-Feb-2018',
 '15-Feb-2018',
 '14-Feb-2018',
 '11-Feb-2018',
 '03-Feb-2018',
 '01-Feb-2018',
 '28-Jan-2018',
 '21-Jan-2018',
 '14-Jan-2018',
 '13-Jan-2018',
 '12-Jan-2018',
 '05-Jan-2018',
 '31-Dec-2017',
 '30-Dec-2017',
 '21-Dec-2017',
 '09-Dec-2017',
 '30-Nov-2017',
 '25-Nov-2017',
 '24-Nov-2017',
 '18-Nov-2017',
 '13-Nov-2017',
 '04-Nov-2017',
 '31-Oct-2017',
 '28-Oct-2017',
 '26-Oct-2017',
 '23-Oct-2017',
 '22-Oct-2017',
 '21-Oct-2017',
 '18-Oct-2017',
 '09-Oct-2017',
 '05-Oct-2017',
 '01-Oct-2017',
 '25-Sep-2017',
 '24-Sep-2017',
 '20-Sep-2017',
 '16-Sep-2017',
 '15-Sep-2017',
 'Sep-2017',
 '13-Sep-2017',
 '10-Sep-2017',
 '06-Sep-2017',
 '03-Sep-2017',
 '02-Sep-2017',
 '29-Aug-2017',
 '27-Aug-2017',
 '26-Aug-2017',
 '23-Aug-2017',
 '18-Aug-2017',
 '10-Aug-2017',
 '05-Aug-2017',
 '03-Aug-2017',
 '01-Aug-2017',
 '31-Jul-2017',
 '29-Jul-2017',
 '27-Jul-2017',
 '26-Jul-2017',
 '24-Jul-2017',
 '23-Jul-2017',
 '22-Jul-2017',
 '20-Jul-2017',
 '14-Jul-2017',
 '11-Jul-2017',
 '09-Jul-2017',
 '07-Jul-2017',
 '02-Jul-2017',
 '29-Jun-2017',
 '21-Jun-2017',
 '19-Jun-2017',
 '18-Jun-2017',
 '17-Jun-2017',
 '2017.06.05',
 '14-Jun-2017',
 '11-Jun-2017',
 '10-Jun-2017',
 '07-Jun-2017',
 '04-Jun-2017',
 '02-Jun-2017',
 '30-May-2017',
 '28-May-2017',
 '27-May-2017',
 '12-May-2017',
 '06-May-2017',
 '05-May-2017',
 '03-May-2017',
 '29-Apr-2017',
 '27-Apr-2017',
 '26-Apr-2017',
 '22-Apr-2017',
 '20-Apr-2017',
 '17-Apr-2017',
 '14-Apr-2017',
 '13-Apr-2017',
 '12-Apr-2017',
 '11-Apr-2017',
 '10-Apr-2017',
 '06-Apr-2017',
 '05-Apr-2017',
 '02-Apr-2017',
 '27-Mar-2017',
 '19-Mar-2017',
 '18-Mar-2017',
 '11-Mar-2017',
 '09-Mar-2017',
 '25-Feb-2017',
 '24-Feb-2017',
 '21-Feb-2017',
 '17-Feb-2017',
 '11-Feb-2017',
 '06-Feb-2017',
 '01-Feb-2017',
 '24-Jan-2017',
 '22-Jan-2017',
 '21-Jan-2017',
 '13-Jan-2017',
 '09-Jan-2017',
 '08-Jan-2017',
 '05-Jan-2017',
 '03-Jan-2017',
 '27-Dec-2016',
 '24-Dec-2016',
 '19-Dec-2016',
 '14-Dec-2016',
 '11-Dec-2016',
 '06-Dec-2016',
 '01-Dec-2016',
 '28-Nov-2016',
 '14-Nov-2016',
 '30-Oct-2016',
 '29-Oct-2016',
 '24-Oct-2016',
 '21-Oct-2016',
 '15-Oct-2016',
 '14-Oct-2016',
 '13-Oct-2016',
 '12-Oct-2016',
 '10-Oct-2016',
 '02-Oct-2016',
 '01-Oct-2016',
 '26-Sep-2016',
 '18-Sep-2016',
 '17-Sep-2016',
 '16-Sep-2016',
 '15-Sep-2016',
 '11-Sep-2016',
 '07-Sep-2016',
 '06-Sep-2016',
 '05-Sep-2016',
 '04-Sep-2016',
 '01-Sep-2016',
 'Sep-2016',
 '29-Aug-2016',
 '27-Aug-2016',
 '25-Aug-2016',
 '07-Aug-2016',
 '06-Aug-2016',
 '04-Aug-2016',
 '29-Jul-2016',
 '28-Jul-2016',
 '27-Jul-2016',
 '26-Jul-2016',
 '24-Jul-2016',
 '23-Jul-2016',
 '20-Jul-2016',
 '17-Jul-2016',
 '16-Jul-2016',
 '15-Jul-2016',
 '14-Jul-2016',
 '08-Jul-2016',
 '07-Jul-2016',
 '06-Jul-2016',
 '04-Jul-2016',
 '27-Jun-2016',
 '25-Jun-2016',
 '24-Jun-2016',
 '23-Jun-2016',
 '21-Jun-2016',
 '15-Jun-2016',
 '14-Jun-2016',
 '11-Jun-2016',
 '07-Jun-2016',
 '05-Jun-2016',
 '04-Jun-2016',
 '02-Jun-2016',
 '31-May-2016',
 '29-May-2016',
 '22-May-2016',
 '21-May-2016',
 '18-May-2016',
 '15-May-2016',
 '03-May-2016',
 '02-May-2016',
 '25-Apr-2016',
 '23-Apr-2016',
 '22-Apr-2016',
 '19-Apr-2016',
 '18-Apr-2016',
 '13-Apr-2016',
 '09-Apr-2016',
 '08-Apr-2016',
 '07-Apr-2016',
 '31-Mar-2016',
 '30-Mar-2016',
 '28-Mar-2016',
 '26-Mar-2016',
 '13-Mar-2016',
 '11-Mar-2016',
 '10-Mar-2016',
 '04-Mar-2016',
 '03-Mar-2016',
 '02-Mar-2016',
 '22-Feb-2016',
 ' 19-Feb-2016',
 '12-Feb-2016',
 '10-Feb-2016',
 '05-Feb-2016',
 '04-Feb-2016',
 '02-Feb-2016',
 '29-Jan-2016',
 '28-Jan-2016',
 '25-Jan-2016',
 '24-Jan-2016',
 '23-Jan-2016',
 '11-Jan-2016',
 '05-Jan-2016',
 '02-Jan-2016',
 '26-Dec-2015',
 '25-Dec-2015',
 '22-Dec-2015',
 '21-Dec-2015',
 '19-Dec-2015',
 '13-Dec-2015',
 '11-Dec-2015',
 '08-Dec-2015',
 '20-Nov-2015',
 '16-Nov-2015',
 '15-Nov-2015',
 '10-Nov-2015',
 '07-Nov-2015',
 '03-Nov-2015',
 '01-Nov-2015',
 '30-Oct-2015',
 '28-Oct-2015',
 '25-Oct-2015',
 '21-Oct-2015',
 '19-Oct-2015',
 '17-Oct-2015',
 '13-Oct-2015',
 '09-Oct-2015',
 '08-Oct-2015',
 '07-Oct-2015',
 '05-Oct-2015',
 '04-Oct-2015',
 '29-Sep-2015',
 '26-Sep-2015',
 '24-Sep-2015',
 '20-Sep-2015',
 '19-Sep-2015',
 '18-Sep-2015',
 '17-Sep-2015',
 '08-Sep-2015',
 '06-Sep-2015',
 '05-Sep-2015',
 '04-Sep-2015',
 '03-Sep-2015',
 '01-Sep-2015',
 'Sep-2015',
 '29-Aug-2015',
 '22-Aug-2015',
 '20-Aug-2015',
 '19-Aug-2015',
 '18-Aug-2015',
 '10-Aug-2015',
 '31-Jul-2015',
 '28-Jul-2015',
 '27-Jul-2015',
 '26-Jul-2015',
 '25-Jul-2015',
 '23-Jul-2015',
 '22-Jul-2015',
 '19-Jul-2015',
 '10-Jul-2015',
 '08-Jul-2015',
 '06-Jul-2015',
 '04-Jul-2015',
 '03-Jul-2015',
 '02-Jul-2015',
 '01-Jul-2015',
 '30-Jun-2015',
 '27-Jun-2015',
 '26-Jun-2015',
 '25-Jun-2015',
 '24-Jun-2015',
 '23-Jun-2015',
 '19-Jun-2015',
 '17-Jun-2015',
 '14-Jun-2015',
 '13-Jun-2015',
 '11-Jun-2015',
 '07-Jun-2015',
 '05-Jun-2015',
 '01-Jun-2015',
 '29-May-2015',
 '25-May-2015',
 '24-May-2015',
 '20-May2015',
 '15-May-2015',
 '09-May-2015',
 '07-May-2015',
 '03-May-2015',
 '02-May-2015',
 '29-Apr-2015',
 '26-Apr-2015',
 '25-Apr-2015',
 '13-Apr-2015',
 '12-Apr-2015',
 '11-Apr-2015',
 '03-Apr-2015',
 '29-Mar-2015',
 '31-Mar-2015',
 '26-Mar-2015',
 '21-Mar-2015',
 '18-Mar-2015',
 '16-Mar-2015',
 '11-Mar-2015',
 '10-Mar-2015',
 '07-Mar-2015',
 '15-Feb-2015',
 '14-Feb-2015',
 '09-Feb-2015',
 '08-Feb-2015',
 '05-Feb-2015',
 '30-Jan-2015',
 '27-Jan-2015',
 '24-Jan-2015',
 '23-Jan-2015',
 '19-Jan-2015',
 '17-Jan-2015',
 '16-Jan-2015',
 '08-Jan-2015',
 '06-Jan-2015',
 '03-Jan-2015',
 '01-Jan-2015',
 '29-Dec-2014',
 '28-Dec-2014',
 '23-Dec-2014',
 '15-Dec-2014',
 '03-Dec-2014',
 '29-Nov-2014',
 '20-Nov-2014',
 '19-Nov-2014',
 '17-Nov-2014',
 '16-Nov-2014',
 '13-Nov-2014',
 '10-Nov-2014',
 '08-Nov-2014',
 '31-Oct-2014',
 '29-Oct-2014',
 '22-Oct-2014',
 '20-Oct-2014',
 '19-Oct-2014',
 '18-Oct-2014',
 '17-Oct-2014',
 '14-Oct-2014',
 '12-Oct-2014',
 '11-Oct-2014',
 '05-Oct-2014',
 '07-Oct-2014',
 '03-Oct-2014',
 '02-Oct-2014',
 '21-Sep-2014',
 '12-Sep-2014',
 '13-Sep-2014',
 '09-Sep-2014',
 '06-Sep-2014',
 '03-Sep-2014',
 '02-Sep-2014',
 'Sep-2014',
 '31-Aug-2014',
 '29-Aug-2014',
 '28-Aug-2014',
 '27-Aug-2014',
 '25-Aug-2014',
 '24-Aug-2014',
 '16-Aug-2014',
 '12-Aug-2014',
 '10-Aug-2014',
 '09-Aug-2014',
 '08-Aug-2014',
 '06-Aug-2014',
 '05-Aug-2014',
 '02-Aug-2014',
 '01-Aug-2014',
 'Aug-2014',
 '27-Jul-2014',
 '22-Jul-2014',
 '21-Jul-2014',
 '20-Jul-2014',
 '16-Jul-2014',
 '14-Jul-2014',
 '13-Jul-2014',
 '12-Jul-2014',
 '9-Jul-2014',
 '5-Jul-2014',
 '3-Jul-2014',
 '27-Jun-2014',
 '25-Jun-2014',
 '18-Jun-2014',
 '17-Jun-2014',
 '09-Jun-2014',
 '08-Jun-2014',
 '07-Jun-2014',
 '01-Jun-2014',
 '24-May-2014',
 '23-May-2014',
 '22-May-2014',
 '15-May-2014',
 '14-May-2014',
 '13-May2014',
 '11-May-2014',
 '10-May-2014',
 '06-May-2014',
 '04-May-2014',
 '01-May-2014',
 '24-Apr-2014',
 '22-Apr-2014',
 '15-Apr-2014',
 '12-Apr-2014',
 '04-Apr-2014',
 '03-Apr-2014',
 '29-Mar-2014',
 '22-Mar-2014',
 '21-Mar-2014',
 '18-Mar-2014',
 '12-Mar-2014',
 '13-Mar-2014',
 '02-Mar-2014',
 '20-Feb-2014',
 '17-Feb-2014',
 '08-Feb-2014',
 '07-Feb-2014',
 '26-Jan-2014',
 '25-Jan-2014',
 '04-Jan-2014',
 '2014',
 '25-Dec-2013',
 '16-Dec-2013',
 '13-Dec-2013',
 '11-Dec-2013',
 '10-Dec-2013',
 '05-Dec-2013',
 '02-Dec-2013',
 '30-Nov-2013',
 '29-Nov2013',
 '23-Nov-2013',
 '22-Nov-2013',
 '12-Nov-2013',
 '10-Nov-2013',
 '07-Nov-2013',
 '31-Oct-2013',
 '28-Oct-2013',
 '26-Oct-2013',
 '24-Oct-2013',
 '23-Oct-2013',
 '20-Oct-2013',
 '19-Oct-2013',
 '11-Oct-2013',
 '08-Oct-2013',
 '06-Oct-2013',
 '10-Oct-2013',
 '29-Sep-2013',
 ' 25-Sep-2013',
 ' 21-Sep-2013',
 ' 14-Sep-2013',
 ' 12-Sep-2013',
 '08-Sep-2013',
 ' 07-Sep-2013',
 ' 02-Sep-2013',
 ' 01-Sep-2013',
 '31-Aug-2013',
 '29-Aug-2013',
 '26-Aug-2013',
 ' 25-Aug-2013',
 ' 18-Aug-2013',
 '17-Aug-2013',
 ' 14-Aug-2013',
 ' 13-Aug-2013',
 '11-Aug-2013',
 '08-Aug-2013',
 ' 05-Aug-2013',
 '  31-Jul-2013',
 '  30-Jul-2013',
 '28-Jul-2013',
 '  29-Jul-2013',
 '    22-Jul-2013',
 '19-Jul-2013',
 '17-Jul-2013',
 '15-Jul-2013',
 '14-Jul-2013',
 '11-Jul-2013',
 '07-Jul-2013',
 '02-Jul-2013',
 '30-Jun-2013',
 '27-Jun-2013',
 '25-Jun-2013',
 '18-Jun-2013',
 '17-Jun-2013',
 '16-Jun-2013',
 '15-Jun-2013',
 '14-Jun-2013',
 '06-Jun-2013',
 '27-May-2013',
 '23-May-2013',
 '08-May-2013',
 '04-May-2013',
 '28-Apr-2013',
 '24-Apr-2013',
 '21-Apr-2013',
 '17-Apr-2013',
 '14-Apr-2013',
 '13-Apr-2013',
 '10-Apr-2013',
 '04-Apr-2013',
 '02-Apr-2013',
 '31-Mar-2013',
 '29-Mar-2013',
 '21-Mar-2013',
 '16-Mar-2013',
 '12-Mar-2013',
 '10-Mar-2013',
 '03-Mar-2013',
 '27-Feb-2013',
 '21-Feb-2013',
 '10-Feb-2013',
 '09-Feb-2013',
 '01-Feb-2013',
 '26-Jan-2013',
 '25-Jan-2013',
 '21-Jan-2013',
 '16-Jan-2013',
 '13-Jan-2013',
 '05-Jan-2013',
 '31-Dec-2012',
 '30-Dec-2012',
 '28-Dec-2012',
 '25-Dec-2012',
 '19-Dec-2012',
 '05-Dec-2012',
 '02-Dec-2012',
 'December 2012',
 '30-Nov-2012',
 '27-Nov-2012',
 '22-Nov-2012',
 '19-Nov-2012',
 '04-Nov-2012',
 '30-Oct-2012',
 '27-Oct-2012',
 '23-Oct-2012',
 '19-Oct-2012',
 '18-Oct-2012',
 '16-Oct-2012',
 '11-Oct-2012',
 '10-Oct-2012',
 '02-Oct-2012',
 '25-Sep-2012',
 '24-Sep-2012',
 '16-Sep-2012',
 '10-Sep-2012',
 '09-Sep-2012',
 '08-Sep-2012',
 '06-Sep-2012',
 '04-Sep-2012',
 '02-Sep-2012',
 '31-Aug-2012',
 '28-Aug-2012',
 '26-Aug-2012',
 '15-Aug-2012',
 '11-Aug-2012',
 '08-Aug-2012',
 '06-Aug-2012',
 '04-Aug-2012',
 '31-Jul-2012',
 '30-Jul-2012',
 '24-Jul-2012',
 '23-Jul-2012',
 '21-Jul-2012',
 '19-Jul-2012',
 '14-Jul-2012',
 '08-Jul-2012',
 '07-July-2012',
 '07-Jul-2012',
 '06-Jul-2012',
 '28-Jun-2012',
 '26-Jun-2012',
 '22-Jun-2012',
 '20-Jun-2012',
 '19-Jun-2012',
 '18-Jun-2012',
 '15-Jun-2012',
 '14-Jun-2012',
 '12-Jun-2012',
 '10-Jun-2012',
 '03-Jun-2012',
 '02-Jun-2012',
 '31-May-2012',
 '29-May-2012',
 '23-May-2012',
 '20-May-2012',
 '16-May-2012',
 '12-May-2012',
 '09-May-2012',
 '06-May-2012',
 '19-Apr-2012',
 '11-Apr-2012',
 '03-Apr-2012',
 'Apr-2013',
 '31-Mar-2012',
 '24-Mar-2012',
 '22-Mar-2012',
 '20-Mar-2012',
 '15-Mar-2012',
 '14-Mar-2012',
 '06-Mar-2012',
 '05-Mar-2012',
 '04-Mar-2012',
 '03-Mar-2012',
 '01-Mar-2012',
 '26-Feb-2012',
 '25-Feb-2012',
 '20-Feb-2012',
 '06-Feb-2012',
 '27-Jan-2012',
 '19-Jan-2012',
 '22-Jan-2012',
 '18-Jan-2012',
 '15-Jan-2012',
 '13-Jan-2012',
 '03-Jan-2012',
 '02-Jan-2012',
 '31-Dec-2011',
 '26-Dec-2011',
 '25-Dec-2011',
 '23-Dec-2011',
 '21-Dec-2011',
 '11-Dec-2011',
 '07-Dec-2011',
 '06-Dec-2011',
 '05-Dec-2011',
 '02-Dec-2011',
 '29-Nov-2011',
 '28-Nov-2011',
 '22-Nov-2011',
 '20-Nov-2011',
 '12-Nov-2011',
 '11-Nov-2011',
 '  29-Oct-2011',
 '28-Oct-2011',
 '22-Oct-2011',
 '20-Oct-2011',
 '19-Oct-2011',
 '11-Oct-2011',
 '10-Oct-2011',
 '09-Oct-2011',
 '05-Oct-2011',
 '02-Oct-2011',
 '01-Oct-2011',
 '30-Sep-2011',
 '28-Sep-2011',
 '24-Sep-2011',
 '20-Sep-2011',
 '19-Sep-2011',
 '17-Sep-2011',
 '16-Sep-2011',
 '11-Sep-2011',
 '04-Sep-2011',
 '02-Sep-2011',
 '31-Aug-2011',
 '28-Aug-2011',
 '26-Aug-2011',
 '24-Aug-2011 ',
 '23-Aug-2011',
 '18-Aug-2011',
 '17-Aug-2011',
 '16-Aug-2011',
 '16-Aug--2011',
 '15-Aug-2011',
 '11-Aug--2011',
 '01-Aug-2011',
 '31-Jul-2011',
 '30-Jul-2011',
 '25-Jul-2011',
 '22-Jul-2011',
 '19-Jul-2011',
 '15-Jul-2011',
 '13-Jul-2011',
 '07-Jul-2011',
 '06-Jul-2011',
 '05-Jul-2011',
 '30-Jun-2011',
 '29-Jun-2011',
 '28-Jun-2011',
 '26-Jun-2008',
 '24-Jun-2011',
 '21-Jun-2011',
 '19-Jun-2011',
 '15-Jun-2011',
 '14-Jun-2011',
 '12-Jun-2011',
 '06-Jun-2011',
 '01-Jun-2011',
 '30-May-2011',
 '29-May-2011',
 '25-May-2011',
 '22-May-2011',
 '21-May-2011',
 '13-May-2011',
 '10-May-2011',
 '07-May-2011',
 '04-May-2011',
 '26-Apr-2011',
 '23-Apr-2011',
 '22-Apr-2011',
 '16-Apr-2011',
 '13-Apr-2011',
 '08-Apr-2011',
 '29-Mar-2011',
 '24-Mar-2011',
 '23-Mar-2011',
 '21-Mar-2011',
 '16-Mar-2011',
 '10-Mar-2010',
 '10-Mar-2011',
 '28-Feb-2011',
 '23-Feb-2011',
 '18-Feb-2011',
 '17-Feb-2011',
 '13-Feb-2011',
 '12-Feb-2011',
 '04-Feb-2011',
 '02-Feb-2011',
 '31-Jan-2011',
 '28-Jan-2011',
 '26-Jan-2011',
 '20-Jan-2011',
 '15-Jan-2011',
 '12-Jan 2011',
 '03-Jan-2011',
 '26-Dec-2010',
 '17-Dec-2010',
 '11-Dec-2010',
 '05-Dec-2010',
 '03-Dec-2010',
 '01-Dec-2010',
 '30-Nov-2010',
 '27-Nov-2010',
 '19-Nov-2010',
 '15-Nov-2010',
 '14-Nov-2010',
 '12-Nov-2010',
 '30-Oct-2010',
 '28-Oct-2010',
 '25-Oct-2010',
 '23-Oct-2010',
 '22-Oct-2010',
 '20-Oct-2010',
 '09-Oct-2010',
 '02-Oct-2010',
 '01-Oct-2010',
 '27-Sep-2010',
 '24-Sep-2010',
 '21-Sep-2010',
 ' 13-Sep-2010',
 '07-Sep-2010',
 '06-Sep-2010',
 ' 04-Sep-2010',
 '03-Sep-2010',
 '02-Sep-2010',
 '29-Aug-2010',
 '18-Aug-2010',
 '17-Aug-2010',
 '14-Aug-2010',
 '10-Aug-2010',
 '08-Aug-2010',
 '07-Aug-2010',
 '05-Aug-2010',
 '02-Aug-2010',
 '25-Jul-2010',
 '23-Jul-2010',
 '19-Jul-2010',
 '17-Jul-2010',
 '16-Jul-2010',
 '11-Jul-2010',
 '04-Jul-2010',
 '03-Jul-2010',
 '02-Jul-2010',
 '27-Jun-2010',
 '25-Jun-2010',
 '15-Jun-2010',
 '10-Jun-2010',
 '06-Jun-2010',
 'Jun-2010',
 '30-May-2010',
 '18-May-2010',
 '03-May-2010',
 '01-May-2010',
 '28-Apr-2010',
 '19-Apr-2010',
 '13-Apr-2010',
 '04-Apr-2010',
 ' 27-Mar-2010',
 '190Feb-2010',
 '16-Feb-2010',
 '15-Feb-2010',
 '13-Feb-2010',
 '11-Feb-2010',
 '06-Feb-2010',
 '04-Feb-2010',
 '03-Feb-2010',
 '01-Feb-2010',
 '31-Jan-2010',
 '27-Jan-2010',
 '22-Jan-2010',
 '12-Jan-2010',
 '09-Jan-2010',
 '06-Jan-2010',
 '05-Jan-2010',
 '29-Dec-2009',
 '26-Dec-2009',
 '22-Dec-2009',
 '20-Dec-2009',
 '18-Dec-2009',
 '16-Dec-2009',
 '13-Dec-2009',
 '12-Dec-2009',
 '05-Dec-2009',
 '25-Nov-2009',
 '24-Nov-2009',
 '16-Nov-2009',
 '13-Nov-2009',
 '11-Nov-2009',
 '08-Nov-2009',
 '05-Nov-2009',
 '30-Oct-2009',
 '29-Oct-2009',
 '28-Oct-2009',
 '24-Oct-2009',
 '19-Oct-2009',
 '18-Oct-2009',
 '17-Oct-2009',
 '14-Oct-2009',
 '09-Oct-2009',
 '02-Oct-2009',
 '26-Sep-2009',
 '18-Sep-2009',
 '15-Sep-2009',
 '13-Sep-2009',
 '12-Sep-2009',
 '07-Sep-2009',
 '02-Sep-2009',
 '01-Sep-2009',
 '30-Aug-2009',
 '29-Aug-2009',
 '25-Aug-2009',
 '11-Aug-2009',
 '10-Aug-2009',
 '06-Aug-2009',
 '01-Aug-2009',
 '31-July-2009',
 '30-Jul-2009',
 '29-Jul-2009',
 '24-Jul-2009',
 '22-Jul-2009',
 '18-Jul-2009',
 '11-Jul-2009',
 '07-Jul-2009',
 '05-Jul-2009',
 '04-Jul-2009',
 '27-Jun-2009',
 '21-Jun-2009',
 '16-Jun-2009',
 '14-Jun-2009',
 '02-Jun-2009',
 '01-Jun-2009',
 '31-May-2009',
 '25-May-2009',
 '17-May-2009',
 '16-May-2009',
 '12-May-2009',
 '06-Mar-2009',
 '28-Apr-2009',
 '25-Apr-2009',
 '21-Apr-2009',
 '20-Apr-2009',
 '19-Apr-2009',
 '17-Apr-2009',
 '11-Apr-2009',
 '12-Apr-2009',
 '06-Apr-2009',
 '03-Apr-2009',
 '27-Mar-2009',
 '21-Mar-2009',
 '20-Mar-2009',
 '19-Mar-2009',
 '18-Mar-2009',
 '17-Mar-2009',
 '16-Mar-2009',
 '02-Mar-2009',
 '01-Mar-2009',
 '22-Feb-2009',
 '18-Feb-2009',
 '12-Feb-2009',
 '11-Feb-2009',
 '08-Feb-2009',
 '07-Feb-2009',
 '27-Jan-2009',
 '26-Jan-2009',
 '25-Jan-2009',
 '24-Jan-2009',
 '23-Jan-2009',
 '18-Jan-2009',
 '16-Jan-2009',
 '13-Jan-2009',
 '12-Jan-2009',
 '11-Jan-2009',
 '    10-Jan-2009',
 '10-Jan-2009',
 '06-Jan-2009',
 'Jan-2009',
 '30-Dec-2008',
 '27-Dec-2008',
 '20-Dec-2008',
 '14-Dec-2008',
 '10-Dec-2008',
 '06-Dec-2006',
 'Dec-2008',
 '28-Nov-2008',
 '25-Nov-2008',
 '24-Nov-2008',
 '09-Nov-2008',
 '06-Nov-2008',
 '22-Oct-2008',
 '21-Oct-2008',
 '12-Oct-2008',
 '11-Oct-2008',
 '08-Oct-2008',
 '06-Oct-2008',
 '28-Sep-2008',
 '15-Sep-2008',
 '14-Sep-2008',
 '09-Sep-2008',
 '08-Sep-2008',
 '07-Sep-2008',
 '06-Sep-2008',
 '01-Sep-2008',
 'Sep-2008',
 '30-Aug-2008',
 '28-Aug-2008',
 '27-Aug-2008',
 '24-Aug-2008',
 '20-Aug-2008',
 '18-Aug-2008',
 '16-Aug-2008',
 '12-Aug-2008',
 '11-Aug-2008',
 '30-Jul-2008',
 '27-Jul-2008',
 '26-Jul-2008',
 '25-Jul-2008',
 '24-Jul-2008',
 ...]

- Aunque no salen en los **uniques** hay muchos Dates que salen como rangos, o datos de antes de Cristo.
- Vamos a denominarlos momentáneamente salvables para ver cuantos hay exactamente:

In [26]:
salvables = df.loc[(df["Year"] == 0) & (df["Date"] != np.nan)]
salvables.shape

(125, 14)

In [27]:
salvables.sample(30)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
6182,1990 or 1991,0.0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Conway Plough & Dr. Jonathan Higgs,M,NaN,Conway's leg was bitten Higgs injury was FATAL,N,NaN,NaN
6240,Before 1961,0.0,Unprovoked,SEYCHELLES,Amirante Islands,Marie Louise Island,Swimming from capsized pirogue,Aristede,M,NaN,FATAL,Y,NaN,Tiger shark
6235,"No date, Before 1963",0.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Diving for trochus,male,M,NaN,Calf removed,N,NaN,0.9 m [3'] shark
6206,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,Hand severed,N,NaN,NaN
6287,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN
6258,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,Nonouti,NaN,Gilbertese fisherman,M,NaN,FATAL,Y,NaN,NaN
6183,Before 2016,0.0,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Hamisi Njenga,M,NaN,FATAL,Y,NaN,NaN
6181,Before 1939,0.0,Unprovoked,CANADA,NaN,Grand Banks,Fishing,Joe Folsom,M,NaN,Arm bitten,N,NaN,NaN
6257,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,Wake Island,"Fishing, wading with string of fish",male,M,NaN,Survived,N,NaN,NaN
6220,"No date, Before May-1996",0.0,Unprovoked,KOREA,South Korea,Cheju Island,Diving,"female, a Hae Nyeo",F,NaN,"FATAL, injured while diving, then shark bit her",Y,NaN,NaN
6275,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,N,NaN,NaN
6195,Before 1900,0.0,Provoked,INDIA,NaN,NaN,NaN,male,M,NaN,Cut to arm while roping shark PROVOKED INCIDENT,N,NaN,NaN
6239,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,36,Bumped by sharks,N,NaN,"""A pack of sharks"""
6193,Between 1951-1963,0.0,Unprovoked,GREECE,NaN,NaN,Swimming,Martha Hatagouei,F,NaN,FATAL,Y,NaN,NaN
6185,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,"Isla Chica, La Paloma",Swimming,NaN,NaN,NaN,Foot bitten,N,NaN,NaN
6209,"No date, late 1960s",0.0,Unprovoked,VENEZUELA,Los Roques Islands,NaN,Spearfishing,4 French divers,M,NaN,"FATAL (x3), one survived with minor injuries",Y,NaN,said to involve 2.5 m hammerhead sharks
6233,"No date, Before 1902",0.0,Unprovoked,USA,Florida,"Mosquito Inlet (Ponce Inlet), Volusia County",Canoeing,male,M,NaN,FATAL,Y,NaN,NaN
6218,No date,0.0,Unprovoked,REUNION,Grand'Anse,Petite-île,yachtsman in a zodiac,NaN,M,NaN,Survived,N,NaN,NaN
6260,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,"Munda Island, Roviana Lagoon",Floating on his back,American male,M,NaN,Buttock bitten,N,NaN,NaN
6247,Before 1958,0.0,Unprovoked,FIJI,Kadavu Island Group,"18.8S, 178.25E",Swimming with fish attached to belt,Fijian girl,F,NaN,"""Severely injured when fish were seized by shark""",N,NaN,NaN
6286,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,Y,NaN,NaN
6207,Before 1911,0.0,Unprovoked,VIETNAM,NaN,NaN,Bathing,male,M,NaN,Foot bitten,N,NaN,NaN
6263,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",Y,NaN,NaN
6236,"No date, After August 1926 and before 1936",0.0,Unprovoked,AUSTRALIA,Western Australia,Cossack Creek,Pearl diving,Ted Luck,M,NaN,Leg bitten,N,NaN,NaN
6242,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Arm severed,N,Afternoon,Bull shark
6259,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,1.2 m [4'] shark
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6211,Before 2003,0.0,Unprovoked,GREECE,Dodecanese Islands,Near Symi Island,Free diving for sponges,male,M,NaN,FATAL,Y,NaN,NaN
6245,Before 19-Jun-1959,0.0,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,Leg injured,N,NaN,"White shark, 1,900-lb"
6253,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),A village north of San Carlos,Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",Y,NaN,"Bull shark caught, leg recovered & buried besi..."

- Llamamos a las funciones definidas en el **cleanin_functions.py**, mas concretamente a rescatar fechas que aplica 3 funciones secuencialmente donde coge por orden los que contienen BC, los que son fechas sueltas (tipo Before YYYY) y luego los intervalos de los cuales saca la media, para rellenar los datos de df.Year para esos valores de df.Dates  #TODO, mira tema de late´s y demas para meterlos tb

In [28]:
df.Year = df.Date.apply(rescatar_fechas)

- Si miramos el dato primero de nuestra lista anterior vemos que:

In [29]:
df["Date"][6228]

'No date, Before 1969'

In [30]:
df["Year"][6228]

'1969'

In [31]:
df["Date"][6265]

'1941-1942'

In [32]:
df["Year"][6265]

'1941'

In [33]:
#pd.set_option('max_rows', None)

In [34]:
df[["Date","Year"]].sample(10)

             Date  Year
5048  20-Feb-1930  1930
3224  15-Jun-1975  1975
4377     Jun-1953  1953
765   14-Jul-2012  2012
310   02-Feb-2016  2016
4673  27-May-1943  1943
839   05-Dec-2011  2011
2950     Mar-1983  1983
4791  27-Sep-1939  1939
809   14-Mar-2012  2012

In [35]:
#pd.set_option('max_rows', 20)

## AREA / LOCATION COLUMNS

- Ambas columnas son bastante imprecisas en cuanto a ubicacion, por lo que mejor voy a trabajar sobre la columna **country.**

In [36]:
df[["Country","Area","Location"]].sample(10)

,Country,Area,Location
5540,SOUTH AFRICA,KwaZulu-Natal,Durban
5246,PHILIPPINES,"Cavite Province, Luzon",NaN
2048,USA,Florida,"Pensacola Bay, Escambia County"
3362,BRITISH ISLES,South Devon,Beesands
3582,USA,Puerto Rico,NaN
4899,AUSTRALIA,Torres Strait,"Near Warrior Reefs, Queensland"
5219,USA,Hawaii,"Keawanui, Kamalo, Moloka'i"
983,SOUTH AFRICA,Western Cape Province,"Melkbaai, Strand"
4822,AUSTRALIA,New South Wales,Tweed Heads
2483,USA,California,"Abalone Point, Westport Union Landing, Mendoci..."

- Country voy a limpiar con una funcion metidad en cleaning_functios.py llamada paises. He cogido una lista de paises de Github que esta
metida en un CSV, lo que hace la funcion es mirar si la cadena correspondiente está en el CSV y sino le asigna NaN adema de un par de incorrecciones de la escritura de nombres que tambien he metido

In [37]:
df.Country = df.Country.apply(paises)

In [38]:
df.Country.notna().sum()

5982

In [39]:
#Esto se puede mejorar, para resultados sea...

# ACTIVITY COLUMN

In [40]:
df.Activity.sample(30)

3328                                   Diving for abalone
2433                                              Surfing
3954                            Fishing for rock lobsters
1462                                              Walking
5636                                               Diving
494                                             Kayaking
3113                                         Spearfishing
1145                                              Surfing
5318                                               Diving
1796                                             Swimming
5260                                     Jumped overboard
3495                                             Swimming
285                                          Spearfishing
5133                                              Fishing
2280                                             Swimming
135                                               Surfing
4970    Diving for trochus  from dinghy when seized by...
4976                               Hurricane & Tidal Wave
2977                                                  NaN
5452                                               Wading
1429                           Diving / Kissing the shark
705                                                   NaN
6308                                                  NaN
3359                                               Wading
3296                            Free diving, Spearfishing
45                                             Snorkeling
5333                                             Swimming
3341                                                  NaN
819                                               Surfing
585                                               Fishing
Name: Activity, dtype: object

- La lista de actividades es amplia, vamos a agruparlas y filtrarlas a través de una función llamada actividad tambien contenida en cleaning_functions.py

In [41]:
df.Activity = df.Activity.apply(actividad)
df.Activity.sample(30)

5326        swimming
4180         fishing
3019          diving
3682         fishing
2506    sea disaster
2807            surf
5749             NaN
4039         fishing
1102         fishing
5138          diving
3365            surf
6265        swimming
1204            surf
3175            surf
646          fishing
4335             NaN
1340            surf
1506         boating
3590         fishing
480             surf
2783        swimming
1815        swimming
5038        swimming
381             surf
5593        swimming
3126             NaN
2343          diving
2634          diving
614           diving
3983         fishing
Name: Activity, dtype: object

# COLUMNA INJURY

In [42]:
list(df["Fatal (Y/N)"].unique())

['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']

In [43]:
df[["Fatal (Y/N)","Injury"]].sample(30)

     Fatal (Y/N)                                             Injury
1579           N                                        Knee bitten
5647           N                  Left leg bitten PROVOKED INCIDENT
6226           N  Ankle punctured & lacerated, hands abraded PRO...
1907           Y                                              FATAL
11             N               Injuries to lower right leg and foot
4754           N  Survived, but suffered a forequarter amputation
4454           Y                                              FATAL
4143           N                     Shark tried to bite prop twice
4311           N  Forearm slashed wrist to elbow by hooked shark...
2387           Y  FATAL, hand & leg severely injured by shark th...
439            N                         No injury but kayak bitten
4949           N                                          No injury
2679           N                       Foot & ankle severely bitten
5043           N                                 Lacerations to arm
1818           N  Abrasions on right hand & deep laceration on m...
5757         NaN  Left leg severed. Probably confusion with GSAF...
2781         NaN  Slipped off rocks & was treading water when he...
5002           Y                                              FATAL
2900     UNKNOWN                                         No details
2298           N                                 Left leg lacerated
1848         NaN  Human remains (right forearm & leg) recovered ...
207            N  Minor wound to lower right leg & surfboard bitten
5507           N                                          No injury
1299           N                                         Leg bitten
759            N                                   Left foot bitten
2224           N                           Laceration to right foot
5144           Y                                              FATAL
4959           N                                           Survived
1309           N      No injury, teethmarks in board & torn wetsuit
1649           N                                  Right foot bitten

- El tema de valores distintos de los previsibles "Y"/ "N" ademas de categorizar la columna injury lo vamos a hacer a través de dos funciones

In [44]:
df["Injury"] = df["Injury"].apply(lesiones)

In [45]:
df['Fatal (Y/N)'] = df["Fatal (Y/N)"].apply(fatal)

In [46]:
df[["Fatal (Y/N)","Injury"]].sample(10)

     Fatal (Y/N)  Injury
2176           N  injury
3807           N  injury
630            N  injury
5619           Y   fatal
2767           Y   fatal
4506           N  injury
2232           N  injury
2531           Y   fatal
5025           N  injury
341            N  injury

In [47]:
#TODO age

# SPECIES COLUMN

In [48]:
df.Species.sample(30)

4688                                       "small sharks"
6180                                                  NaN
4636                                                  NaN
3564                                              Invalid
5009                                                  NaN
5802                                                  NaN
4766    White shark, species identity confirmed by too...
2697           1.8 m to 2.4 m [6' to 8'] hammerhead shark
3428                            White shark, 5 m [16.5']
4126                                                  NaN
1276                                             6' shark
41                                                    NaN
6196                                                  NaN
5571                                      3 m [10'] shark
3168    White shark, 3.5 m [11.5'], species identity c...
2277                                     1.2 m [4'] shark
1060                                   Zambesi shark, 2m
4097                                                  NaN
1381    Shark involvement prior to death was not confi...
2005              White shark, 4 m to 5 m [13' to 16.5']
5568                                                  NaN
1835                     0.9 m  to 1.2 m [3' to 4'] shark
2338                                                  NaN
6008                               Tiger shark (pregnant)
5962                                                  NaN
3177                                                  NaN
6272                                                  NaN
361                                      Hammerhead shark
6098                                                  NaN
3316                                                  NaN
Name: Species, dtype: object

- Para limpiar esto vamos a usar algo parecido a lo que hemos hecho con activity para categorizar y leer las cadenas de dentro.Usaré la lista de nombres de https://sharkattackfile.net/species.htm
 que es de donde viene nuestro dataframe además

In [50]:
df.Species = df.Species.apply(species)

In [51]:
df.Species.sample(30)

4633                NaN
1680              tiger
4979                NaN
1798               bull
920               tiger
3957                NaN
5199                NaN
2537           blacktip
4759                NaN
5100                NaN
1348                NaN
2921              white
5765                NaN
5356                NaN
4466                NaN
56                nurse
3156                NaN
2938                NaN
1413                NaN
2495                NaN
3023    grey reef shark
5375      bronze whaler
996               white
315                mako
2605              nurse
3897              white
3905              tiger
1124                NaN
3991              white
4246                NaN
Name: Species, dtype: object

# Exportamos el data frame limpio a un CSV nuevo

In [54]:
df.to_csv("src/attack_limpio.csv",index=False)

- La visualizacion continua en `analysis.ipynb` [📑](analysis.ipynb)