# EXPLORACIÓN Y LIMPIEZA DEL DATASET

- Cargamos **librerías, funciones y el data set** que vamos a usar para la limpieza

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [2]:
#ORDENAR - esta es la importacion del archivo de las funciones de limpieza que me he creado
import sys
sys.path.append("src/")
from src.cleaning_functions import *

In [3]:
ds = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

- Hacemos una copia del data set "just in case"...

In [4]:
df = ds.copy()

# EXPLORACIÓN DATA SET

![alt text](https://memegenerator.net/img/instances/40379228/let-me-take-a-look-at-this.jpg "Take a look")

In [5]:
df.shape #25.723 Lineas y 24 columnas

(25723, 24)

### Vamos a cambiar las opciones de pandas para poder ver todas las columnas del dataset mejor

In [13]:
pd.set_option.display[max_columns, None]

AttributeError: 'CallableDynamicDoc' object has no attribute 'display'

In [ ]:
df.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
19661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,1989.04.00,Apr-1989,1989.0,Unprovoked,USA,Hawaii,"Kekaha Beach, Kaua'i",Paddling on surfboard,William P. Allen,M,NaN,"Board rammed by shark, skegs knocked loose & 5...",N,NaN,NaN,"J. Borg, p.77; L. Taylor (1993), pp.108-109",1989.04.00-Allen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.04.00,1989.04.00,3614.0,NaN,NaN
20083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [ ]:
df.describe().T #Solo hay dos columnas creadas como numéricas

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

In [ ]:
Nan_percentage = round(df.isna().sum()*100/len(df),2) #Calculo el porcentaje de valores NaN
Nan_percentage.sort_values(ascending = False)

Unnamed: 22               100.00
Unnamed: 23                99.99
Time                       88.54
Species                    86.53
Age                        86.51
Sex                        77.70
Activity                   77.62
Fatal (Y/N)                77.60
Location                   77.60
Area                       77.27
Name                       76.32
Country                    75.69
Injury                     75.61
Investigator or Source     75.57
Type                       75.52
Year                       75.51
Date                       75.50
pdf                        75.50
href formula               75.50
href                       75.50
Case Number.1              75.50
Case Number.2              75.50
original order             75.47
Case Number                66.17
dtype: float64

![alt text](https://miro.medium.com/max/413/0*Cir0TzUEkHMbb8QB "Cleaning data")

- Muchas columnas tienen demasiado porcentaje de NaN's por lo que podremos prescindir de ellas ya que no aportan información.
- Vamos a eliminar todas las filas que tienen NaN en todos sus campos

In [ ]:
df.dropna(axis=0, inplace= True, how='all') #Elimino las filas que tienen todos los valores NaN

In [ ]:
df.shape #Ahora tenemos 8.703 filas

(8703, 24)

- Hay muchas filas que tienen un porcentaje demasiado alto de NaN, por lo que vamos a eliminar también las filas que tienen un 80% de NaN en su contenido

In [ ]:
df.dropna(axis=0, inplace= True, thresh=int(24*0.8))

- Actualizamos el porcentaje de NaN's de cada columna:

In [ ]:
df.isnull().sum().apply(lambda x: x*100/df.shape[0]).sort_values(ascending=False) #Otro método parecido al anterior

Unnamed: 22               99.981252
Unnamed: 23               99.962505
Time                      45.406824
Species                   40.101237
Age                       36.164229
Fatal (Y/N)                6.786652
Sex                        4.068241
Activity                   2.868391
Location                   2.699663
Area                       1.931009
Name                       0.449944
Investigator or Source     0.093738
Country                    0.037495
Injury                     0.037495
Type                       0.018748
href formula               0.018748
Date                       0.000000
pdf                        0.000000
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Year                       0.000000
Case Number                0.000000
dtype: float64

- Vamos a ver si hay alguna fila duplicada, en tal caso las eliminaremos

In [ ]:
df.duplicated().sum() #2392 duplicados

0

In [ ]:
df.iloc[8698:8702] #Son filas con todo NaN salvo el case number, las eliminaremos también

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

In [ ]:
df.drop_duplicates(inplace=True) #Elimino las filas duplicadas
df.reset_index(drop=True, inplace=True) #Reiniciamos el índice

- Eliminamos las columnas 'Unnamed: 22' y 'Unnamed: 23', ya vimos antes que eran prácticamente 100% NaN

In [ ]:
df.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)

- Veámos como están escritos los nombres de las columnas

In [ ]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

- Quitemos los espacios en blanco en los nombres de las columnas, capitalicemos los nombres y sustituyamos espacios por guiones bajos

In [ ]:
df.columns = df.columns.str.strip().str.capitalize().str.replace(' ', '_')

# LIMPIEZA

![alt text](https://miro.medium.com/max/568/1*S1HH5F8PqWWcId9sb0L8og.jpeg "Dropna")

- Quitamos todas las filas y columnas que tengan todo NaN

In [ ]:
df.columns

Index(['Case_number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal_(y/n)', 'Time',
       'Species', 'Investigator_or_source', 'Pdf', 'Href_formula', 'Href',
       'Case_number.1', 'Case_number.2', 'Original_order'],
      dtype='object')

- Echando una ojeada a estas columnas podemos descartarlas ya que no nos van a aportar al estudio que vamos a hacer

In [ ]:
print(df["Href"][3513],df['Href_formula'][3513])

http://sharkattackfile.net/spreadsheets/pdf_directory/1962.01.01-Caberto.pdf http://sharkattackfile.net/spreadsheets/pdf_directory/1962.01.01-Caberto.pdf

- Contienen vínculos a archivos pdf donde vienen registrados datos del ataque en pdf: imagenes, recortes de periódico, fotos de la ubicación, etc...

https://sharkattackfile.net/spreadsheets/pdf_directory/1967.08.25-Casucci.pdf

- Ojeadas las columnas podemos hacer **drop** de las que **no considero interesantes** para el caso:

``'Case_number','Investigator_or_source', 'Pdf', 'Href_formula', 'Href', 'Case_number.1', 'Case_number.2', 'Original_order'``

In [ ]:
df.drop(['Case_number','Investigator_or_source', 'Pdf', 'Href_formula', 'Href', 'Case_number.1', 'Case_number.2', 'Original_order'], axis=1, inplace=True)

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal_(y/n)', 'Time', 'Species'],
      dtype='object')

### YEAR Y DATE COLUMN

In [ ]:
df.Year.unique() #Vamos a ver si podemos rescatar algun año a través del contenido de la columna date

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1988., 1987., 1986., 1985., 1983.,
       1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974.,
       1973., 1972., 1971., 1970., 1969., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1849., 1847., 1846.,
       1845., 1842., 1841., 1840., 1839., 1837., 1835., 1834., 1832.,
       1831., 1830., 1829., 1828., 1827., 1825., 1817., 1816., 1812.,
       1810., 1780., 1779., 1749., 1748., 1738., 1721., 1703., 1700.,
       1642., 1595.,    0.])

- Vemos años un poco raros, así que paso a verlos en detalle

In [ ]:
pd.set_option('max_rows', None)

In [ ]:
QUIETO

In [ ]:
df[['Date','Year']][df.Year == 0] #81 fechas que podemos rescatar a través de date

                                                   Date  Year
5253                                      Ca. 336.B.C..   0.0
5254                                       Ca. 725 B.C.   0.0
5255                                       1990 or 1991   0.0
5256                                        Before 2016   0.0
5257                                    Before Oct-2009   0.0
5258                                        Before 1934   0.0
5259                                              2009?   0.0
5260                                        Before 1930   0.0
5261                                          1880-1899   0.0
5262                                        Before 1909   0.0
5263                                        Before 2012   0.0
5264                                        Before 1908   0.0
5265                                        Before 2009   0.0
5266                                       Beforer 1994   0.0
5267                                          1896-1913   0.0
5268                                        Before 1901   0.0
5269                                No date, late 1960s   0.0
5270                                        Before 2006   0.0
5271                                        Before 2003   0.0
5272                                        Before 2004   0.0
5273                                        Before 1962   0.0
5274                                              1950s   0.0
5275                                              2003?   0.0
5276                                            No date   0.0
5277                                    Before Feb-1998   0.0
5278                           No date, Before May-1996   0.0
5279                           No date, Before Mar-1995   0.0
5280                                        Before 1996   0.0
5281                           No date, Before Aug-1987   0.0
5282                               No date, Before 1987   0.0
5283                              No date, Before  1975   0.0
5284                               No date, Before 1975   0.0
5285                         No date, Before 3-Jan-1967   0.0
5286                               No date, Before 1963   0.0
5287                         No date, Before 8-May-1965   0.0
5288                               No date, Before 1963   0.0
5289                               No date, Before 1902   0.0
5290                               No date, Before 1963   0.0
5291         No date, After August 1926 and before 1936   0.0
5292                                        Before 1962   0.0
5293                                        Before 1962   0.0
5294                                        Before 1961   0.0
5295                                              1960s   0.0
5296                                              1960s   0.0
5297                                              1960s   0.0
5298                                Before  19-Jun-1959   0.0
5299                                Before  24 Apr-1959   0.0
5300                                       Before  1958   0.0
5301                                       Before  1958   0.0
5302                                        Before 1958   0.0
5303                                        Before 1958   0.0
5304                                        Before 1958   0.0
5305                                        Before 1957   0.0
5306                                        Before 1957   0.0
5307                                        Before 1956   0.0
5308                         "During the war" 1943-1945   0.0
5309                                   "Before the war"   0.0
5310             Said to be 1941-1945, more likely 1945   0.0
5311                                          1941-1945   0.0
5312                                          1941-1942   0.0
5313                                        1940 - 1950   0.0
5314                                        1940 - 1950   0.0
5315                                        1940 - 1950   0.0
5316                                       World War II   0.0
5317                                       World War II   0.0
5318                            A few years before 1938   0.0
5319                                            No date   0.0
5320                                        Early 1930s   0.0
5321                                            No date   0.0
5322                                            No date   0.0
5323                                        Before 1921   0.0
5324                                        Before 1911   0.0
5325                                        Before 1921   0.0
5326                                        Before 1921   0.0
5327                                 Before 17-Jul-1916   0.0
5328  No date (3 days after preceding incident) & pr...   0.0
5329                                 Before 19-Jul-1913   0.0
5330                                        Before 1906   0.0
5331                                        Before 1903   0.0
5332                                          1900-1905   0.0
5333                                          1845-1853   0.0

Hay 81 lineas con el df.Year == CERO pero en df.Date si que figuran datos, a ver que podemos rescatar de ahí.
Muchos corresponend con intervalos de años, otros indica before 'alguna fecha' y en otro habla sobre la guerra, suponemos que la Segunda Guerra Mundial

In [ ]:
df.Date = df.Date.replace(regex=r'(?i)Reported\s{1,9}',value='')
list(df.Date.unique())

['25-Jun-2018',
 '18-Jun-2018',
 '09-Jun-2018',
 '08-Jun-2018',
 '04-Jun-2018',
 '03-Jun-2018',
 '27-May-2018',
 '26-May-2018',
 '24-May-2018',
 '21-May-2018',
 '13-May-2018',
 'May 2018',
 '12-May-2018',
 '09-May-2018',
 '30-Apr-2018',
 '28-Apr-2018',
 '25-Apr-2018',
 '24-Apr-2018',
 '23-Apr-2018',
 '22-Apr-2018',
 '19-Apr-2018',
 '15-Apr-2018',
 '14-Apr-2018',
 '10-Apr-2018',
 '05-Apr-2018',
 '03-Apr-2018',
 '31-Mar-2018',
 '14-Mar-2018',
 '9-Mar-2018',
 '24-Feb-2018',
 '23-Feb-2018',
 '18-Feb-2018',
 '15-Feb-2018',
 '14-Feb-2018',
 '11-Feb-2018',
 '03-Feb-2018',
 '01-Feb-2018',
 '28-Jan-2018',
 '21-Jan-2018',
 '14-Jan-2018',
 '13-Jan-2018',
 '12-Jan-2018',
 '05-Jan-2018',
 '31-Dec-2017',
 '30-Dec-2017',
 '21-Dec-2017',
 '09-Dec-2017',
 '30-Nov-2017',
 '24-Nov-2017',
 '18-Nov-2017',
 '13-Nov-2017',
 '04-Nov-2017',
 '31-Oct-2017',
 '28-Oct-2017',
 '26-Oct-2017',
 '23-Oct-2017',
 '22-Oct-2017',
 '21-Oct-2017',
 '18-Oct-2017',
 '09-Oct-2017',
 '05-Oct-2017',
 '01-Oct-2017',
 '25-Sep-2017',
 '24-Sep-2017',
 '20-Sep-2017',
 '16-Sep-2017',
 '15-Sep-2017',
 '13-Sep-2017',
 '10-Sep-2017',
 '03-Sep-2017',
 '02-Sep-2017',
 '29-Aug-2017',
 '27-Aug-2017',
 '26-Aug-2017',
 '23-Aug-2017',
 '18-Aug-2017',
 '10-Aug-2017',
 '05-Aug-2017',
 '03-Aug-2017',
 '01-Aug-2017',
 '31-Jul-2017',
 '29-Jul-2017',
 '27-Jul-2017',
 '24-Jul-2017',
 '23-Jul-2017',
 '22-Jul-2017',
 '20-Jul-2017',
 '14-Jul-2017',
 '11-Jul-2017',
 '09-Jul-2017',
 '07-Jul-2017',
 '29-Jun-2017',
 '21-Jun-2017',
 '19-Jun-2017',
 '18-Jun-2017',
 '17-Jun-2017',
 '2017.06.05',
 '11-Jun-2017',
 '10-Jun-2017',
 '07-Jun-2017',
 '04-Jun-2017',
 '02-Jun-2017',
 '30-May-2017',
 '28-May-2017',
 '27-May-2017',
 '12-May-2017',
 '06-May-2017',
 '05-May-2017',
 '03-May-2017',
 '29-Apr-2017',
 '27-Apr-2017',
 '22-Apr-2017',
 '20-Apr-2017',
 '17-Apr-2017',
 '14-Apr-2017',
 '13-Apr-2017',
 '12-Apr-2017',
 '11-Apr-2017',
 '10-Apr-2017',
 '06-Apr-2017',
 '05-Apr-2017',
 '02-Apr-2017',
 '27-Mar-2017',
 '19-Mar-2017',
 '18-Mar-2017',
 '11-Mar-2017',
 '09-Mar-2017',
 '25-Feb-2017',
 '24-Feb-2017',
 '21-Feb-2017',
 '17-Feb-2017',
 '11-Feb-2017',
 '06-Feb-2017',
 '01-Feb-2017',
 '24-Jan-2017',
 '22-Jan-2017',
 '21-Jan-2017',
 '13-Jan-2017',
 '09-Jan-2017',
 '05-Jan-2017',
 '03-Jan-2017',
 '27-Dec-2016',
 '24-Dec-2016',
 '19-Dec-2016',
 '14-Dec-2016',
 '11-Dec-2016',
 '06-Dec-2016',
 '01-Dec-2016',
 '28-Nov-2016',
 '14-Nov-2016',
 '30-Oct-2016',
 '29-Oct-2016',
 '24-Oct-2016',
 '21-Oct-2016',
 '15-Oct-2016',
 '14-Oct-2016',
 '12-Oct-2016',
 '10-Oct-2016',
 '02-Oct-2016',
 '01-Oct-2016',
 '26-Sep-2016',
 '18-Sep-2016',
 '17-Sep-2016',
 '16-Sep-2016',
 '11-Sep-2016',
 '07-Sep-2016',
 '06-Sep-2016',
 '05-Sep-2016',
 '04-Sep-2016',
 '01-Sep-2016',
 '29-Aug-2016',
 '27-Aug-2016',
 '25-Aug-2016',
 '07-Aug-2016',
 '06-Aug-2016',
 '04-Aug-2016',
 '29-Jul-2016',
 '28-Jul-2016',
 '27-Jul-2016',
 '26-Jul-2016',
 '24-Jul-2016',
 '23-Jul-2016',
 '20-Jul-2016',
 '17-Jul-2016',
 '16-Jul-2016',
 '15-Jul-2016',
 '14-Jul-2016',
 '08-Jul-2016',
 '07-Jul-2016',
 '06-Jul-2016',
 '04-Jul-2016',
 '27-Jun-2016',
 '25-Jun-2016',
 '24-Jun-2016',
 '23-Jun-2016',
 '21-Jun-2016',
 '15-Jun-2016',
 '14-Jun-2016',
 '11-Jun-2016',
 '07-Jun-2016',
 '05-Jun-2016',
 '04-Jun-2016',
 '02-Jun-2016',
 '31-May-2016',
 '29-May-2016',
 '22-May-2016',
 '21-May-2016',
 '18-May-2016',
 '15-May-2016',
 '03-May-2016',
 '02-May-2016',
 '25-Apr-2016',
 '23-Apr-2016',
 '22-Apr-2016',
 '19-Apr-2016',
 '18-Apr-2016',
 '13-Apr-2016',
 '09-Apr-2016',
 '07-Apr-2016',
 '31-Mar-2016',
 '30-Mar-2016',
 '28-Mar-2016',
 '13-Mar-2016',
 '11-Mar-2016',
 '10-Mar-2016',
 '04-Mar-2016',
 '03-Mar-2016',
 '02-Mar-2016',
 '22-Feb-2016',
 ' 19-Feb-2016',
 '12-Feb-2016',
 '10-Feb-2016',
 '05-Feb-2016',
 '04-Feb-2016',
 '02-Feb-2016',
 '28-Jan-2016',
 '25-Jan-2016',
 '24-Jan-2016',
 '23-Jan-2016',
 '11-Jan-2016',
 '05-Jan-2016',
 '02-Jan-2016',
 '26-Dec-2015',
 '25-Dec-2015',
 '22-Dec-2015',
 '21-Dec-2015',
 '19-Dec-2015',
 '13-Dec-2015',
 '11-Dec-2015',
 '08-Dec-2015',
 '20-Nov-2015',
 '16-Nov-2015',
 '15-Nov-2015',
 '10-Nov-2015',
 '07-Nov-2015',
 '03-Nov-2015',
 '01-Nov-2015',
 '30-Oct-2015',
 '28-Oct-2015',
 '25-Oct-2015',
 '21-Oct-2015',
 '19-Oct-2015',
 '17-Oct-2015',
 '13-Oct-2015',
 '09-Oct-2015',
 '08-Oct-2015',
 '07-Oct-2015',
 '05-Oct-2015',
 '04-Oct-2015',
 '29-Sep-2015',
 '26-Sep-2015',
 '24-Sep-2015',
 '20-Sep-2015',
 '19-Sep-2015',
 '18-Sep-2015',
 '17-Sep-2015',
 '08-Sep-2015',
 '06-Sep-2015',
 '05-Sep-2015',
 '04-Sep-2015',
 '03-Sep-2015',
 '01-Sep-2015',
 '29-Aug-2015',
 '22-Aug-2015',
 '20-Aug-2015',
 '19-Aug-2015',
 '18-Aug-2015',
 '10-Aug-2015',
 '31-Jul-2015',
 '28-Jul-2015',
 '26-Jul-2015',
 '25-Jul-2015',
 '23-Jul-2015',
 '22-Jul-2015',
 '19-Jul-2015',
 '10-Jul-2015',
 '08-Jul-2015',
 '04-Jul-2015',
 '03-Jul-2015',
 '02-Jul-2015',
 '01-Jul-2015',
 '30-Jun-2015',
 '27-Jun-2015',
 '26-Jun-2015',
 '25-Jun-2015',
 '24-Jun-2015',
 '23-Jun-2015',
 '19-Jun-2015',
 '17-Jun-2015',
 '14-Jun-2015',
 '13-Jun-2015',
 '11-Jun-2015',
 '07-Jun-2015',
 '05-Jun-2015',
 '01-Jun-2015',
 '29-May-2015',
 '25-May-2015',
 '24-May-2015',
 '20-May2015',
 '15-May-2015',
 '09-May-2015',
 '07-May-2015',
 '03-May-2015',
 '02-May-2015',
 '29-Apr-2015',
 '26-Apr-2015',
 '25-Apr-2015',
 '13-Apr-2015',
 '12-Apr-2015',
 '11-Apr-2015',
 '03-Apr-2015',
 '29-Mar-2015',
 '31-Mar-2015',
 '26-Mar-2015',
 '21-Mar-2015',
 '18-Mar-2015',
 '16-Mar-2015',
 '11-Mar-2015',
 '10-Mar-2015',
 '07-Mar-2015',
 '14-Feb-2015',
 '09-Feb-2015',
 '08-Feb-2015',
 '05-Feb-2015',
 '30-Jan-2015',
 '27-Jan-2015',
 '24-Jan-2015',
 '23-Jan-2015',
 '19-Jan-2015',
 '17-Jan-2015',
 '16-Jan-2015',
 '08-Jan-2015',
 '06-Jan-2015',
 '03-Jan-2015',
 '01-Jan-2015',
 '29-Dec-2014',
 '28-Dec-2014',
 '15-Dec-2014',
 '03-Dec-2014',
 '29-Nov-2014',
 '20-Nov-2014',
 '19-Nov-2014',
 '16-Nov-2014',
 '13-Nov-2014',
 '10-Nov-2014',
 '08-Nov-2014',
 '31-Oct-2014',
 '29-Oct-2014',
 '22-Oct-2014',
 '20-Oct-2014',
 '19-Oct-2014',
 '18-Oct-2014',
 '17-Oct-2014',
 '14-Oct-2014',
 '12-Oct-2014',
 '11-Oct-2014',
 '05-Oct-2014',
 '07-Oct-2014',
 '03-Oct-2014',
 '02-Oct-2014',
 '21-Sep-2014',
 '12-Sep-2014',
 '13-Sep-2014',
 '09-Sep-2014',
 '06-Sep-2014',
 '03-Sep-2014',
 '02-Sep-2014',
 'Sep-2014',
 '31-Aug-2014',
 '29-Aug-2014',
 '28-Aug-2014',
 '27-Aug-2014',
 '25-Aug-2014',
 '24-Aug-2014',
 '16-Aug-2014',
 '12-Aug-2014',
 '10-Aug-2014',
 '09-Aug-2014',
 '08-Aug-2014',
 '06-Aug-2014',
 '05-Aug-2014',
 '02-Aug-2014',
 '01-Aug-2014',
 '27-Jul-2014',
 '22-Jul-2014',
 '21-Jul-2014',
 '20-Jul-2014',
 '16-Jul-2014',
 '14-Jul-2014',
 '13-Jul-2014',
 '12-Jul-2014',
 '9-Jul-2014',
 '5-Jul-2014',
 '3-Jul-2014',
 '27-Jun-2014',
 '25-Jun-2014',
 '18-Jun-2014',
 '17-Jun-2014',
 '09-Jun-2014',
 '08-Jun-2014',
 '07-Jun-2014',
 '01-Jun-2014',
 '24-May-2014',
 '23-May-2014',
 '22-May-2014',
 '15-May-2014',
 '14-May-2014',
 '13-May2014',
 '11-May-2014',
 '10-May-2014',
 '06-May-2014',
 '01-May-2014',
 '24-Apr-2014',
 '22-Apr-2014',
 '15-Apr-2014',
 '12-Apr-2014',
 '04-Apr-2014',
 '03-Apr-2014',
 '29-Mar-2014',
 '22-Mar-2014',
 '21-Mar-2014',
 '18-Mar-2014',
 '12-Mar-2014',
 '02-Mar-2014',
 '20-Feb-2014',
 '17-Feb-2014',
 '08-Feb-2014',
 '07-Feb-2014',
 '26-Jan-2014',
 '25-Jan-2014',
 '04-Jan-2014',
 '2014',
 '25-Dec-2013',
 '16-Dec-2013',
 '13-Dec-2013',
 '11-Dec-2013',
 '10-Dec-2013',
 '05-Dec-2013',
 '02-Dec-2013',
 '30-Nov-2013',
 '29-Nov2013',
 '23-Nov-2013',
 '22-Nov-2013',
 '12-Nov-2013',
 '10-Nov-2013',
 '07-Nov-2013',
 '31-Oct-2013',
 '28-Oct-2013',
 '26-Oct-2013',
 '24-Oct-2013',
 '23-Oct-2013',
 '20-Oct-2013',
 '19-Oct-2013',
 '11-Oct-2013',
 '08-Oct-2013',
 '06-Oct-2013',
 '10-Oct-2013',
 '29-Sep-2013',
 ' 25-Sep-2013',
 ' 21-Sep-2013',
 ' 14-Sep-2013',
 ' 12-Sep-2013',
 ' 07-Sep-2013',
 ' 02-Sep-2013',
 ' 01-Sep-2013',
 '31-Aug-2013',
 '29-Aug-2013',
 '26-Aug-2013',
 ' 25-Aug-2013',
 ' 18-Aug-2013',
 '17-Aug-2013',
 ' 14-Aug-2013',
 ' 13-Aug-2013',
 '11-Aug-2013',
 ' 05-Aug-2013',
 '  31-Jul-2013',
 '  30-Jul-2013',
 '28-Jul-2013',
 '  29-Jul-2013',
 '    22-Jul-2013',
 '19-Jul-2013',
 '17-Jul-2013',
 '15-Jul-2013',
 '11-Jul-2013',
 '07-Jul-2013',
 '02-Jul-2013',
 '27-Jun-2013',
 '25-Jun-2013',
 '18-Jun-2013',
 '17-Jun-2013',
 '16-Jun-2013',
 '15-Jun-2013',
 '14-Jun-2013',
 '06-Jun-2013',
 '27-May-2013',
 '23-May-2013',
 '08-May-2013',
 '04-May-2013',
 '28-Apr-2013',
 '24-Apr-2013',
 '21-Apr-2013',
 '17-Apr-2013',
 '14-Apr-2013',
 '13-Apr-2013',
 '10-Apr-2013',
 '04-Apr-2013',
 '02-Apr-2013',
 '31-Mar-2013',
 '29-Mar-2013',
 '21-Mar-2013',
 '16-Mar-2013',
 '12-Mar-2013',
 '10-Mar-2013',
 '03-Mar-2013',
 '27-Feb-2013',
 '21-Feb-2013',
 '10-Feb-2013',
 '09-Feb-2013',
 '01-Feb-2013',
 '26-Jan-2013',
 '25-Jan-2013',
 '21-Jan-2013',
 '16-Jan-2013',
 '13-Jan-2013',
 '05-Jan-2013',
 '31-Dec-2012',
 '30-Dec-2012',
 '28-Dec-2012',
 '25-Dec-2012',
 '19-Dec-2012',
 '05-Dec-2012',
 '02-Dec-2012',
 'December 2012',
 '30-Nov-2012',
 '27-Nov-2012',
 '22-Nov-2012',
 '19-Nov-2012',
 '04-Nov-2012',
 '30-Oct-2012',
 '27-Oct-2012',
 '23-Oct-2012',
 '19-Oct-2012',
 '18-Oct-2012',
 '16-Oct-2012',
 '11-Oct-2012',
 '10-Oct-2012',
 '02-Oct-2012',
 '25-Sep-2012',
 '24-Sep-2012',
 '16-Sep-2012',
 '10-Sep-2012',
 '09-Sep-2012',
 '08-Sep-2012',
 '06-Sep-2012',
 '04-Sep-2012',
 '02-Sep-2012',
 '31-Aug-2012',
 '28-Aug-2012',
 '26-Aug-2012',
 '15-Aug-2012',
 '11-Aug-2012',
 '08-Aug-2012',
 '06-Aug-2012',
 '04-Aug-2012',
 '31-Jul-2012',
 '30-Jul-2012',
 '24-Jul-2012',
 '23-Jul-2012',
 '21-Jul-2012',
 '19-Jul-2012',
 '14-Jul-2012',
 '08-Jul-2012',
 '07-Jul-2012',
 '06-Jul-2012',
 '26-Jun-2012',
 '22-Jun-2012',
 '20-Jun-2012',
 '19-Jun-2012',
 '18-Jun-2012',
 '15-Jun-2012',
 '14-Jun-2012',
 '12-Jun-2012',
 '10-Jun-2012',
 '03-Jun-2012',
 '02-Jun-2012',
 '31-May-2012',
 '29-May-2012',
 '23-May-2012',
 '20-May-2012',
 '16-May-2012',
 '12-May-2012',
 '09-May-2012',
 '06-May-2012',
 '19-Apr-2012',
 '11-Apr-2012',
 '03-Apr-2012',
 'Apr-2013',
 '31-Mar-2012',
 '24-Mar-2012',
 '22-Mar-2012',
 '20-Mar-2012',
 '15-Mar-2012',
 '14-Mar-2012',
 '06-Mar-2012',
 '05-Mar-2012',
 '04-Mar-2012',
 '03-Mar-2012',
 '01-Mar-2012',
 '26-Feb-2012',
 '25-Feb-2012',
 '20-Feb-2012',
 '06-Feb-2012',
 '27-Jan-2012',
 '19-Jan-2012',
 '22-Jan-2012',
 '18-Jan-2012',
 '15-Jan-2012',
 '13-Jan-2012',
 '03-Jan-2012',
 '02-Jan-2012',
 '31-Dec-2011',
 '26-Dec-2011',
 '25-Dec-2011',
 '23-Dec-2011',
 '21-Dec-2011',
 '11-Dec-2011',
 '07-Dec-2011',
 '06-Dec-2011',
 '02-Dec-2011',
 '29-Nov-2011',
 '28-Nov-2011',
 '22-Nov-2011',
 '20-Nov-2011',
 '12-Nov-2011',
 '11-Nov-2011',
 '  29-Oct-2011',
 '28-Oct-2011',
 '22-Oct-2011',
 '20-Oct-2011',
 '19-Oct-2011',
 '11-Oct-2011',
 '10-Oct-2011',
 '09-Oct-2011',
 '05-Oct-2011',
 '02-Oct-2011',
 '01-Oct-2011',
 '30-Sep-2011',
 '28-Sep-2011',
 '24-Sep-2011',
 '20-Sep-2011',
 '19-Sep-2011',
 '17-Sep-2011',
 '16-Sep-2011',
 '11-Sep-2011',
 '04-Sep-2011',
 '02-Sep-2011',
 '31-Aug-2011',
 '28-Aug-2011',
 '26-Aug-2011',
 '24-Aug-2011 ',
 '23-Aug-2011',
 '18-Aug-2011',
 '17-Aug-2011',
 '16-Aug-2011',
 '16-Aug--2011',
 '15-Aug-2011',
 '11-Aug--2011',
 '01-Aug-2011',
 '31-Jul-2011',
 '25-Jul-2011',
 '22-Jul-2011',
 '19-Jul-2011',
 '15-Jul-2011',
 '13-Jul-2011',
 '07-Jul-2011',
 '06-Jul-2011',
 '05-Jul-2011',
 '30-Jun-2011',
 '29-Jun-2011',
 '28-Jun-2011',
 '26-Jun-2008',
 '24-Jun-2011',
 '21-Jun-2011',
 '19-Jun-2011',
 '15-Jun-2011',
 '14-Jun-2011',
 '12-Jun-2011',
 '06-Jun-2011',
 '01-Jun-2011',
 '30-May-2011',
 '29-May-2011',
 '25-May-2011',
 '22-May-2011',
 '21-May-2011',
 '13-May-2011',
 '10-May-2011',
 '07-May-2011',
 '04-May-2011',
 '26-Apr-2011',
 '23-Apr-2011',
 '22-Apr-2011',
 '16-Apr-2011',
 '13-Apr-2011',
 '08-Apr-2011',
 '29-Mar-2011',
 '24-Mar-2011',
 '23-Mar-2011',
 '21-Mar-2011',
 '16-Mar-2011',
 '10-Mar-2011',
 '28-Feb-2011',
 '23-Feb-2011',
 '18-Feb-2011',
 '17-Feb-2011',
 '13-Feb-2011',
 '12-Feb-2011',
 '04-Feb-2011',
 '02-Feb-2011',
 '31-Jan-2011',
 '28-Jan-2011',
 '26-Jan-2011',
 '20-Jan-2011',
 '15-Jan-2011',
 '12-Jan 2011',
 '03-Jan-2011',
 '26-Dec-2010',
 '17-Dec-2010',
 '11-Dec-2010',
 '05-Dec-2010',
 '03-Dec-2010',
 '01-Dec-2010',
 '30-Nov-2010',
 '27-Nov-2010',
 '19-Nov-2010',
 '15-Nov-2010',
 '14-Nov-2010',
 '12-Nov-2010',
 '30-Oct-2010',
 '28-Oct-2010',
 '23-Oct-2010',
 '22-Oct-2010',
 '20-Oct-2010',
 '09-Oct-2010',
 '02-Oct-2010',
 '01-Oct-2010',
 '27-Sep-2010',
 '24-Sep-2010',
 '21-Sep-2010',
 ' 13-Sep-2010',
 '07-Sep-2010',
 '06-Sep-2010',
 ' 04-Sep-2010',
 '03-Sep-2010',
 '29-Aug-2010',
 '18-Aug-2010',
 '17-Aug-2010',
 '14-Aug-2010',
 '10-Aug-2010',
 '08-Aug-2010',
 '07-Aug-2010',
 '05-Aug-2010',
 '02-Aug-2010',
 '25-Jul-2010',
 '23-Jul-2010',
 '19-Jul-2010',
 '17-Jul-2010',
 '16-Jul-2010',
 '11-Jul-2010',
 '04-Jul-2010',
 '03-Jul-2010',
 '02-Jul-2010',
 '27-Jun-2010',
 '25-Jun-2010',
 '15-Jun-2010',
 '10-Jun-2010',
 '06-Jun-2010',
 'Jun-2010',
 '30-May-2010',
 '18-May-2010',
 '03-May-2010',
 '01-May-2010',
 '28-Apr-2010',
 '19-Apr-2010',
 '13-Apr-2010',
 '04-Apr-2010',
 ' 27-Mar-2010',
 '190Feb-2010',
 '16-Feb-2010',
 '15-Feb-2010',
 '13-Feb-2010',
 '11-Feb-2010',
 '06-Feb-2010',
 '04-Feb-2010',
 '03-Feb-2010',
 '01-Feb-2010',
 '31-Jan-2010',
 '27-Jan-2010',
 '22-Jan-2010',
 '12-Jan-2010',
 '09-Jan-2010',
 '06-Jan-2010',
 '05-Jan-2010',
 '29-Dec-2009',
 '26-Dec-2009',
 '22-Dec-2009',
 '20-Dec-2009',
 '18-Dec-2009',
 '16-Dec-2009',
 '13-Dec-2009',
 '12-Dec-2009',
 '05-Dec-2009',
 '25-Nov-2009',
 '24-Nov-2009',
 '16-Nov-2009',
 '13-Nov-2009',
 '11-Nov-2009',
 '08-Nov-2009',
 '05-Nov-2009',
 '30-Oct-2009',
 '29-Oct-2009',
 '28-Oct-2009',
 '24-Oct-2009',
 '19-Oct-2009',
 '18-Oct-2009',
 '17-Oct-2009',
 '14-Oct-2009',
 '09-Oct-2009',
 '02-Oct-2009',
 '26-Sep-2009',
 '13-Sep-2009',
 '12-Sep-2009',
 '07-Sep-2009',
 '01-Sep-2009',
 '30-Aug-2009',
 '29-Aug-2009',
 '25-Aug-2009',
 '11-Aug-2009',
 '10-Aug-2009',
 '06-Aug-2009',
 '01-Aug-2009',
 '31-July-2009',
 '30-Jul-2009',
 '29-Jul-2009',
 '24-Jul-2009',
 '22-Jul-2009',
 '18-Jul-2009',
 '11-Jul-2009',
 '07-Jul-2009',
 '05-Jul-2009',
 '04-Jul-2009',
 '27-Jun-2009',
 '21-Jun-2009',
 '16-Jun-2009',
 '02-Jun-2009',
 '01-Jun-2009',
 '31-May-2009',
 '25-May-2009',
 '17-May-2009',
 '16-May-2009',
 '12-May-2009',
 '06-Mar-2009',
 '25-Apr-2009',
 '21-Apr-2009',
 '20-Apr-2009',
 '19-Apr-2009',
 '17-Apr-2009',
 '11-Apr-2009',
 '12-Apr-2009',
 '06-Apr-2009',
 '03-Apr-2009',
 '27-Mar-2009',
 '21-Mar-2009',
 '20-Mar-2009',
 '19-Mar-2009',
 '18-Mar-2009',
 '17-Mar-2009',
 '16-Mar-2009',
 '02-Mar-2009',
 '01-Mar-2009',
 '22-Feb-2009',
 '18-Feb-2009',
 '12-Feb-2009',
 '11-Feb-2009',
 '08-Feb-2009',
 '07-Feb-2009',
 '27-Jan-2009',
 '25-Jan-2009',
 '24-Jan-2009',
 '23-Jan-2009',
 '18-Jan-2009',
 '16-Jan-2009',
 '12-Jan-2009',
 '11-Jan-2009',
 '    10-Jan-2009',
 '10-Jan-2009',
 '06-Jan-2009',
 'Jan-2009',
 '30-Dec-2008',
 '27-Dec-2008',
 '20-Dec-2008',
 '14-Dec-2008',
 '10-Dec-2008',
 '06-Dec-2006',
 'Dec-2008',
 '28-Nov-2008',
 '25-Nov-2008',
 '09-Nov-2008',
 '06-Nov-2008',
 '22-Oct-2008',
 '21-Oct-2008',
 '12-Oct-2008',
 '11-Oct-2008',
 '08-Oct-2008',
 '06-Oct-2008',
 '28-Sep-2008',
 '15-Sep-2008',
 '14-Sep-2008',
 '09-Sep-2008',
 '08-Sep-2008',
 '07-Sep-2008',
 '06-Sep-2008',
 '01-Sep-2008',
 'Sep-2008',
 '30-Aug-2008',
 '28-Aug-2008',
 '27-Aug-2008',
 '24-Aug-2008',
 '20-Aug-2008',
 '18-Aug-2008',
 '16-Aug-2008',
 '12-Aug-2008',
 '11-Aug-2008',
 '30-Jul-2008',
 '27-Jul-2008',
 '26-Jul-2008',
 '25-Jul-2008',
 '24-Jul-2008',
 '23-Jul-2008',
 '19-Jul-2008',
 '18-Jul-2008',
 '13-Jul-2008',
 '11-Jul-2008',
 '09-Jul-2008',
 '05-Jul-2008',
 'Late Jul-2008',
 '28-Jun-2008',
 '24-Jun-2008',
 '21-Jun-2008',
 '20-Jun-2008',
 '11-Jun-2008',
 '07-Jun-2008',
 '02-Jun-2008',
 '01-Jun-2008',
 '26-May-2008',
 '24-May-2008',
 '23-May-2008',
 '14-May-2008',
 '10-May-2008',
 '07-May-2008',
 '28-Apr-2008',
 '27-Apr-2008',
 '26-Apr-2008',
 '25-Apr-2008',
 '20-Apr-2008',
 '19-Apr-2008',
 '18-Apr-2008',
 '17-Apr-2008',
 '15-Apr-2008',
 '25-Mar-2008',
 '08-Apr-2008',
 '03-Apr-2008',
 '28-Mar-2008',
 '23-Mar-2008',
 '21-Mar-2008',
 '15-Mar-2008',
 '07-Mar-2008',
 '24-Feb-2008',
 '21-Feb-2008',
 '15-Feb-2008',
 '07-Feb-2008',
 ...]

- Aunque no salen en los **uniques** hay muchos Dates que salen como rangos, o datos de antes de Cristo.
- Vamos a denominarlos momentáneamente salvables para ver cuantos hay exactamente:

In [ ]:
salvables = df.loc[(df["Year"] == 0) & (df["Date"] != np.nan)]
salvables.shape

(81, 14)

In [ ]:
df.describe()

              Year
count  5334.000000
mean   1943.141545
std     244.938571
min       0.000000
25%    1951.250000
50%    1985.000000
75%    2007.000000
max    2018.000000

- Llamamos a las funciones definidas en el **cleanin_functions.py**, mas concretamente a rescatar fechas que aplica 3 funciones secuencialmente donde coge por orden los que contienen BC, los que son fechas sueltas (tipo Before YYYY) y luego los intervalos de los cuales saca la media, para rellenar los datos de df.Year para esos valores de df.Dates  #TODO, mira tema de late´s y demas para meterlos tb

In [ ]:
df.Year = df.Date.apply(rescatar_fechas)

- Si miramos el dato primero de nuestra lista anterior vemos que:

In [ ]:
df["Date"][6228]

KeyError: 6228

In [ ]:
df["Year"][6228]

In [ ]:
df["Date"][6265]

In [ ]:
df["Year"][6265]

In [ ]:
#pd.set_option('max_rows', None)

In [ ]:
df[["Date","Year"]].sample(10)

In [ ]:
#pd.set_option('max_rows', 20)

## AREA / LOCATION COLUMNS

- Ambas columnas son bastante imprecisas en cuanto a ubicacion, por lo que mejor voy a trabajar sobre la columna **country.**

In [ ]:
df[["Country","Area","Location"]].sample(10)

- Country voy a limpiar con una funcion metidad en cleaning_functios.py llamada paises. He cogido una lista de paises de Github que esta
metida en un CSV, lo que hace la funcion es mirar si la cadena correspondiente está en el CSV y sino le asigna NaN adema de un par de incorrecciones de la escritura de nombres que tambien he metido

In [ ]:
df.Country = df.Country.apply(paises)

In [ ]:
df.Country.notna().sum()

In [ ]:
#Esto se puede mejorar, para resultados sea...

# ACTIVITY COLUMN

In [ ]:
df.Activity.sample(30)

- La lista de actividades es amplia, vamos a agruparlas y filtrarlas a través de una función llamada actividad tambien contenida en cleaning_functions.py

In [ ]:
df.Activity = df.Activity.apply(actividad)
df.Activity.sample(30)

# COLUMNA INJURY

In [ ]:
list(df["Fatal (Y/N)"].unique())

In [ ]:
df[["Fatal (Y/N)","Injury"]].sample(30)

- El tema de valores distintos de los previsibles "Y"/ "N" ademas de categorizar la columna injury lo vamos a hacer a través de dos funciones

In [ ]:
df["Injury"] = df["Injury"].apply(lesiones)

In [ ]:
df['Fatal (Y/N)'] = df["Fatal (Y/N)"].apply(fatal)

In [ ]:
df[["Fatal (Y/N)","Injury"]].sample(10)

In [ ]:
#TODO age

# SPECIES COLUMN

In [ ]:
df.Species.sample(30)

- Para limpiar esto vamos a usar algo parecido a lo que hemos hecho con activity para categorizar y leer las cadenas de dentro.Usaré la lista de nombres de https://sharkattackfile.net/species.htm
 que es de donde viene nuestro dataframe además

In [ ]:
df.Species = df.Species.apply(species)

In [ ]:
df.Species.sample(30)

# Exportamos el data frame limpio a un CSV nuevo

In [ ]:
df.to_csv("src/attack_limpio.csv",index=False)

- La visualizacion continua en `analysis.ipynb` [📑](analysis.ipynb)